.uds-card-and-image .uds-card-and-image-container {
  flex: 0 0 50% !important;
  max-width: 50% !important;
}

.signposts-container .row {
  margin: 0 !important;
  width: 100% !important;
}

.uds-image-text-block-text-container .row .col-md-6{
  flex: 0 0 100%;
  max-width: 100%;
}

.image-and-text-block__field-two-cta {
  display: flex;
}

.image-and-text-block__field-two-cta .field__item:first-of-type {
  margin-right: 20px;
}