.select2-container--default .select2-selection--single {
    height: 2.75rem;
    display: flex;
    align-items: center;
    color: #191919;
    border-color: #747474;
    border-radius: 0;
  }
    
  .select2-container--default 
  .select2-selection--single .select2-selection__rendered,
  .select2-results__option--selectable {
    padding-left: 1.125rem;
    font-size: 0.875rem;
  }
    
  .select2-container--default 
  .select2-selection--single 
  .select2-selection__arrow {
    right: 1.125rem;
    top: 0.5rem;
  }
  
  .select2-container--default 
  .select2-selection--single 
  .select2-selection__arrow b{
    display: none;
  }
  
  .select2-container--default 
  .select2-selection--single 
  .select2-selection__arrow::before { 
    background-image: url('/themes/custom/thunderbird/src/components/select/arrow-select-blue.svg');
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    height: 20px;
    position: absolute;
    width: 20px;
    transition: rotate 0.35s ease-in-out;
    top: 5px;
  }

  .select2-container--open .select2-selection__arrow::before { 
    rotate: 180deg;
  }
  
  .select2-results__option--selectable {
    max-width: 100%;
  }
  
  .select2-results__options {
    padding-bottom: 1rem;
  }
