.group-scheduling {
  padding-top: 1.4rem;

  .form-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    label {
      color: $blue-dark;
    }
  }

  .field--type-tzfield > div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    label {
      margin-bottom: 0;
    }

    select {
      max-width: fit-content;
    }
  }

  .dates-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5rem;
  }

  .field--type-datetime {
    width: 100%;

    @include media-breakpoint-up(lg) {
      width: 50%;
    }

    .radios--inner > .row {
      flex-direction: column;
    }

    .offset-1.col-10,
    .card-header, 
    .card-body,
    .row {
      padding: 0;
      margin: 0;
      border-bottom: none;
      min-width: 100%;
    }

    .fieldset-legend {
      font-size: 1.75rem;

      &::before {
        content: '*';
        color: red;
        padding-right: 0.25rem;
      }
    }
  }
  
  .btn-edit-save {
    margin-bottom: 150px;
  }

  .form-actions {
    display: flex;
    justify-content: space-between;
  }
}