.group-selected-dates {
    &.manage-groups {
      margin-bottom: 50px;
    }

    & > p {
      margin-bottom: 46px;
    }

    .cards-container {
      margin-bottom: 52px;
    
      .date-card {
        border: 1px solid #CCC;
        padding: 23px;
        
        &.card-light {
          background-color: $gray-1;
        }

        &.card-dark {
          background-color: $blue-dark;
        }
    
        @include media-breakpoint-up(lg) {
          min-width: 385px;
    
          &:first-of-type {
              margin-right: 24px;
          }
        }
    
        &__body {
          padding-bottom: 80px;
          padding-top: 53px;
          text-align: center;
    
          span {
              display: block;
          }
        }
    
        &__date,
        &__title {
          font-size: 28px;
          font-weight: 900;
          line-height: 32px;
        }
    
        &__timezone,
        &__hour {
          font-size: 14px;
          font-weight: 700;
        }
      }
    }
    
    .btn {
      display: block;
      width: fit-content;
    }
  }