.reports-page {
  &__title {
      margin: 71px 0;
  }

  .reports-section {
    padding: 71px 75px;
    background-color: $gray-1;
    margin-bottom: 42px;
  }

  .build-report__form {

    input[type="checkbox"] {
      display: inline-block;
      width: 32px;
      height: 32px;
      border: 3px solid gray;
    }
    
    .inline-select,
    .gdmi-check-form-group {
      display: flex;
      align-items: center;
      margin-bottom: 32px;

      label {
        font-size: 24px;
        line-height: 1;
        margin-right: 10px;
        margin-left: 0;
        margin-bottom: 0;
        color: $blue-dark;
      }

      select {
        max-width: max-content;
      }
    }
    .build-report__email-options {
      display: flex;
      margin-bottom: 42px;

      .email-options-label {
        width: 30%;
        text-align: right;
        padding-right: 10px;
        font-size: 18px;
        font-weight: 900;
        color: $blue-dark;
      }

      .email-options-fields {
        width: 70%;

        & > div {
          margin-bottom: 10px;
        }

        label {
          margin-left: 10px;
          margin-right: 10px;
          font-size: 18px;
          font-weight: 700;
          color: $blue-dark;
        }

        input[type="email"] {
          flex-grow: 1;
          width: auto;
        }

        select {
          width: auto;
          flex-grow: 1;
        }
      }
    }
  }
}