.results-page {
  padding-top: 4.375rem;

  &__title {
    margin-bottom: 3.125rem;
    margin-top: 0;
  }
  
  .submission-select {
    background-image: url('/themes/custom/thunderbird/src/components/select/arrow-select-blue.svg');
    border: 1px solid $blue-dark;
    color: $blue-mid;
    background-size: 12px 14px;

    @include media-breakpoint-up(lg) {
      min-width: 365px;
    }
  }

  &__menu {
    position: sticky;
    top: 350px;
    
    .nav {
      margin-bottom: 2rem;

      @include media-breakpoint-up(lg) { 
        padding-bottom: 3rem;
        border-right: 1px solid #CCC;
      }

      .nav-item {
        margin-bottom: 0;
        position: relative;

        &.active::after {
          content: '';
          height: 5px;
          background-color: $gold;
          position: absolute;
          bottom: 0;
          width: calc(100% - 2rem);
          left: 1rem;
          
          @include media-breakpoint-up(lg) { 
            width: calc(100% - 3rem);
            left: 2rem;
          }
        }
        
        &:first-of-type {
          &.active::after {
            width: calc(100% - 2rem);
            left: 1rem;
          }
        }

        .nav-link {
          font-size: 0.875rem;
          padding-top: 10px;
          padding-bottom: 10px;
          font-weight: 400;
          line-height: 1.1;
          color: $gray-darkest;
          position: relative;

          @include media-breakpoint-up(lg) {
            padding-left: 2rem;
          }
        }

        &:first-of-type {
          .nav-link {
            font-weight: 700;
            padding-left: 1rem;
          }
        }

      }
    }
  }
  
  &__content {
    h2, h3 {
      margin-top: 0 !important;
    }

    @include media-breakpoint-up(lg) {
      padding-left: 1.625rem;
    }
  }

  &__content-top-text {
    margin-left: 30px;
  }

  @include media-breakpoint-down(lg) {
    .image__field-media-image img {
      display: block;
      margin: auto;
    }
  }

  &__graph-container {
    &.main {
      margin-top: 90px;
      margin-bottom: 42px;
    }

    &.capital {
      margin-top: 42px;
      margin-bottom: 60px;

    }
    &-top {
      margin-bottom: -80px;
    }

    &-bottom {
      margin-top: -80px;
    }
  }
}

.capital-division-card {
  background-color: $gray-1;
  padding: 30px;
  border-left-width: 14px;
  border-left-style: solid;
  margin-bottom: 55px;

  &.psychological {
    border-color: #E43D51;
  }

  &.intellectual {
    border-color: #753E96;
  }

  &.social {
    border-color: #E69E00;
  }

  &.digital {
    border-color: #0179B7;
  }

  &__header {
    display: flex;
    align-items: center;
    
    img {
      width: 40px;
      height: 40px;
      object-fit: contain;
    }

    h3 {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 20px;
    }
    margin-bottom: 20px;
  }

  .uds-list {
    list-style: disc;
  }
}