.class-profile {
    .heading { // <h2>
        font-size: $h2-font-size;
        line-height: $h2-font-size;
    }

    .subheading { // <h3>
        background-color: $blue-dark;
        color: #ffffff;
        padding: 0.75rem; // 12px
        font-size: $h4-font-size;
        line-height: $h4-font-size;
        font-weight: 900;
        margin-bottom: 2.5rem; // 40px
    }

    .item {
        padding: 0rem 0rem 1.5rem;

        .title {
            color: $blue-dark;
            font-size: $font-size-md;
            font-weight: 700;
            line-height: $font-size-xl;
            margin-bottom: 0.5rem;
        }

        p {
            color: $gray-darkest;
            font-size: $font-size-md;
            font-weight: 400;
            line-height: $font-size-xl;
        }
    
        ul {
            column-count: 2;
            padding: 0rem;
    
            li {
                color: $gray-darkest;
                font-size: $font-size-md;
                font-weight: 400;
                line-height: $font-size-xl;
                list-style: none;
                margin: 0rem;
                padding: 0rem 0rem 0rem 1rem;
                position: relative;
    
                &:before {
                    background-color: $blue-dark;
                    content: '';
                    width: 5px;
                    height: 5px;
                    display: block;
                    padding-right: 0rem; // Reset theme default
                    margin-left: 0rem; // Reset theme default
                    position: absolute;
                    left: 0;
                    top: 12px;
                }
            }
        }
    }
}

@media (max-width: map-get($grid-breakpoints, 'md')) {
    .class-profile {
        .item {
            ul {
                column-count: 1;
            }
        }
    }
}