/** extends/misc **/

label {
  font-weight: bold;
  font-size: 0.85em;
}

/** renovation-extends/tabs **/

.nav-tabs .nav-link {
  color: #000;
  padding: 0.25em 1em;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  border-bottom-width: 8px;

  &.active {
    background-color: transparent;
  }
}
.darkmode .nav-tabs .nav-link {
  color: #fafafa;
  background-color: transparent;
}
.darkmode .nav-tabs .nav-link.active {
  color: #ffc627;
  background-color: transparent;
  border-bottom: 8px solid;
}
.smokemode .nav-tabs .nav-link {
  background-color: transparent;
}
.smokemode .nav-tabs .nav-link.active {
  background-color: transparent;
}
.background-darkmode {
  background-color: #191919;
}
.background-smokemode {
  background-color: #e8e8e8;
}
.mobile-tabs {
  flex-wrap: inherit;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  box-shadow: inset 0px -2px 0px 0px #cdcdcd;
}
.mobile-tabs .nav-tabs {
  flex-wrap: inherit;
  position: relative;
  white-space: nowrap;
  display: inline-flex;
  transition: all 0.25s ease 0s;
  left: 0px;
}
.darkmode.mobile-tabs .nav-tabs .nav-link:hover,
.darkmode.mobile-tabs .nav-tabs .nav-link:focus {
  color: #ffc627;
}
.tab-content {
  padding-top: 32px;
}
.mobile-tabs {
  position: relative;
}
.mobile-tabs .scroll::-webkit-scrollbar {
  display: none;
}


/** base/drupal-admin-tweaks **/

.layout-builder-form {
  .form-actions {
    display: flex;
    justify-content: space-between;
    background: #efefef;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: calc(50% - 400px);
    z-index: 10;
    align-items: baseline;
    border-radius: 20px 20px 0 0;
    width: 800px;
  }
}

body .layout-builder-block {
  background: none;
}

// Adjust the styles of the description boxes found in .layout-builder-configure-section
#drupal-off-canvas {
  .form-text,
  .form-tel,
  .form-email,
  .form-url,
  .form-search,
  .form-number,
  .form-color,
  .form-file,
  .form-textarea,
  .form-date,
  .form-time {
    &.description {
      background-color: transparent;
      border-color: transparent;
      box-shadow: none;
      color: #ddd !important;
      font-size: 10px !important;
      margin-top: 0 !important;
      padding-left: 0;
    }
  }
}


/** extends/cards **/

.row-spaced {
  margin-bottom: -32px;
}

.row-spaced > .col,
.row-spaced > div {
  margin-bottom: 32px;
}

.card {
  height: $uds-component-card-basic-height-percent;
  display: $uds-component-card-basic-display;
  flex-direction: $uds-component-card-basic-flex-direction;
}

.card-hover:hover {
  transform: scale(1.05);
  cursor: $uds-component-card-basic-hover-cursor;
  box-shadow: $uds-component-card-basic-hover-box-shadow;
}

.card-hover:active {
  transform: scale(0.95);
  cursor: $uds-component-card-basic-hover-cursor;
}

.card-hover:focus {
  outline: 0;
  box-shadow: 0 0 8px #00baff !important;
}

.card-hover > button {
  border: none;
  background: transparent;
  text-align: inherit;
  margin: 0;
  padding: 0;
}

.card-hover > button:focus {
  outline: 0;
  box-shadow: 0 0 8px #00baff !important;
  border: 0;
}

.card-image-content {
  position: relative;
}

.card-img-top img,
.card-img-top {
  max-width: $uds-component-card-basic-image-top-width-percent;
  height: $uds-component-card-basic-image-top-height;
  object-fit: $uds-component-card-basic-image-top-object-fit;
}

.card-header {
  padding: 24px 32px 16px 32px;
  flex-grow: 1;
  .card-icon {
    margin-bottom: $uds-size-spacing-2;
  }
}

.card-body {
  padding: 0 32px 24px 32px;
  flex-grow: 100;
}

.card:not(.card.card-foldable) > div:first-of-type:not(.card-image-content) {
  flex-grow: 1;
}

.card-link {
  padding: 0 32px 24px 32px;
}

.card-footer {
  padding: 0 32px 24px 32px;
  border-top: 0;
}

.card-tags {
  padding: 0 32px 24px 32px;
  border-top: 0;
  margin-top: -8px;
  .btn-tag,
  .badge {
    margin-top: 8px;
    margin-left: 0;
    margin-right: 1rem;
  }
}

.card-button {
  margin-top: $uds-component-card-basic-button-margin-top;
  padding: 0 32px 24px 32px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  align-items: center;
}

.card > div:last-child {
  padding-bottom: 32px;
}

@include media-breakpoint-down(md) {
  .card-img-top img,
  .card-img-top {
    height: 160px;
  }

  .card-header {
    padding: 24px 24px 16px 24px;
  }

  .card-body {
    padding: 0 24px 24px 24px;
  }

  .card-link {
    padding: 0 24px 24px 24px;
  }

  .card-footer {
    padding: 0 24px 24px 24px;
    border-top: 0;
  }

  .card-tags {
    padding: 0 24px 24px 24px;
    border-top: 0;
  }

  .card-button {
    margin-top: $uds-component-card-basic-button-margin-top;
    padding: 0 24px 24px 24px;
  }

  @include media-breakpoint-down(md) {
    .card-buttons {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      .card-button {
        display: inline;
        padding-right: 0;
      }
    }
  }

  .card > div:last-child {
    padding-bottom: 24px;
  }
}

@include media-breakpoint-up(lg) {
  .col-lg-6 .card {
    .card-img-top img,
    .card-img-top {
      height: 240px;
    }
  }

  .col-lg-6 .card-horizontal .card-img-top {
    height: auto;
    max-width: 40%;
  }
}

.card-sm {
  .card-body {
    padding-right: 24px;
    padding-left: 24px;
  }

  .card-header {
    padding: 24px 24px 16px 24px;
  }
  .card > div:first-of-type {
    padding-top: 24px;
    flex-grow: 1;
  }

  .card-image-gradient::after {
    height: 160px;
  }

  .card-img-top img,
  .card-img-top {
    height: 160px;
  }

  .card-footer-link {
    padding-right: 24px;
    padding-left: 24px;
  }

  .card-button {
    padding-right: 24px;
    padding-left: 24px;
  }

  .card-link {
    padding-right: 24px;
    padding-left: 24px;
  }

  .card-tags {
    padding-right: 24px;
    padding-left: 24px;
  }

  .card-event-details {
    padding-right: 24px;
    padding-left: 24px;
  }
}

.card-lg {
  .card-img-top img,
  .card-img-top {
    height: $uds-component-card-basic-image-top-height-lg;
  }
  .card-image-gradient::after {
    height: $uds-component-card-basic-image-top-height-lg;
  }
}

.card-header .card-title {
  margin: 0;
}

.card-title a,
.card-title a:visited {
  color: $uds-component-card-basic-title-link-color;
  text-decoration: $uds-component-card-basic-title-link-text-decoration;
}

.card-title a:hover {
  text-decoration: $uds-component-card-basic-title-link-text-decoration-hover;
}


@mixin btn-transparent {
  border-color: transparent;
  background-color: transparent;
}

.card-foldable {
  border-color: $uds-color-base-gray-3;
  border-left: $uds-size-spacing-1 solid $uds-color-base-gold;
  height: auto;

  &.card-maroon {
    border-left-color: $uds-color-base-maroon;
  }

  &.card-gray {
    border-left-color: $uds-color-base-gray-4;
  }

  &.card-dark {
    border-left-color: $uds-color-base-gray-7;
  }

  .card-header {
    padding: $uds-size-spacing-1;

    &.card-header-icon {
      & .card-icon {
        display: flex;
        margin-left: -($uds-size-spacing-3 / 2);
        align-items: flex-start;

        svg {
          margin-top: 2px; //adjust for line height of text
        }
      }
    }

    &:hover {
      background-color: $uds-color-base-gray-2;
    }

    h4,
    h5 {
      margin: 0;

      a {
        padding: $uds-size-spacing-1 $uds-size-spacing-3;
        color: $uds-color-base-gray-7;
        text-decoration: none;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        svg.fa-chevron-up {
          margin-left: $uds-size-spacing-3;
          transition-duration: $uds-time-transition-base;
          align-self: flex-start;
        }

        &.collapsed svg.fa-chevron-up,
        &.collapsed i.fa-chevron-up {
          transform: rotate(180deg);
        }
      }
    }

    + .card-body {
      border-top: 1px solid $uds-color-base-gray-3;
    }
  }

  .card-body {
    background-color: $uds-color-base-gray-1;

    > p:first-child {
      margin-top: $uds-size-spacing-2;
    }

    > p:last-child {
      margin-bottom: 0;
    }
  }
}


@mixin desktop-disable {
  border-left: 1px solid $uds-color-base-gray-3;

  .card-header {
    h4 a {
      padding-top: $uds-size-spacing-4;
      padding-bottom: $uds-size-spacing-4;

      &:hover {
        background-color: transparent;
      }
    }

    svg {
      display: none;
    }

    span {
      display: none;
    }
  }

  .card-header + .card-body {
    border-top: 0;
  }

  .card-body {
    background-color: transparent;

    > p:first-child {
      margin-top: 0;
    }
  }

  .collapse {
    display: block;
    height: auto !important;
    visibility: visible;

    &:not(.show) {
      display: block;
    }
  }

  .collapsing {
    position: relative;
    height: unset !important;
    overflow: hidden;
  }
}

@include media-breakpoint-up(xl) {
  .card-foldable.desktop-disable-xl {
    @include desktop-disable;
  }
}

@include media-breakpoint-up(lg) {
  .card-foldable.desktop-disable-lg {
    @include desktop-disable;
  }
}

@include media-breakpoint-up(md) {
  .card-foldable.desktop-disable-md {
    @include desktop-disable;
  }
}


/** extends/card-arrangements **/

.uds-card-arrangement {
  display: flex;
  flex-direction: column;
  max-width: 1400px;

  & > &-content-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > h2 {
      font: normal normal bold 2.5rem Arial;
      padding-right: $uds-size-spacing-6;
    }

    & > button {
      margin-left: auto;
    }

    @media screen and (max-width: $uds-breakpoint-md) {
      flex-direction: column;
      align-items: flex-start;
      & > h2 {
        padding-right: 0;
      }
      & > button {
        margin-left: unset;
        margin-right: auto;
      }
    }
  }

  & > &-card-container {
    column-gap: $uds-size-spacing-3;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, 1fr);
    margin-top: $uds-size-spacing-3;

    &.auto-arrangement {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-flow: row;
      row-gap: $uds-size-spacing-3;
      &.three-columns {
        grid-template-columns: repeat(3, 1fr);
      }
      &.four-columns {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    @media screen and (max-width: $uds-breakpoint-sm) {
      grid-auto-flow: row;
      row-gap: $uds-size-spacing-2;
    }
  }

  &-vertical {
    flex-direction: row;

    & > .uds-card-arrangement-content-container {
      align-items: flex-start;
      justify-content: start;
      flex: 1;
      flex-direction: column;

      & > button {
        margin: initial;
      }
    }

    & > .uds-card-arrangement-card-container {
      flex: 2;
      row-gap: $uds-size-spacing-3;
      display: grid;
      grid-auto-flow: row;
      grid-template-rows: repeat(auto-fill, 1fr);
      margin-left: $uds-size-spacing-3;
    }
  }

  @media screen and (max-width: $uds-breakpoint-xl) {
    & > &-card-container {
      &.auto-arrangement {
        &.four-columns {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  }

  @media screen and (max-width: $uds-breakpoint-lg) {
    & > &-card-container {
      &.auto-arrangement {
        &.four-columns,
        &.three-columns {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }

  @media screen and (max-width: $uds-breakpoint-sm) {
    flex-direction: column;
    & > &-card-container {
      &.auto-arrangement {
        grid-template-columns: 1fr;
        &.four-columns,
        &.three-columns {
          grid-template-columns: 1fr;
        }
      }
    }
    &-vertical {
      & > .uds-card-arrangement-card-container {
        margin-left: 0;
      }
    }
  }
}


/** extends/globalfooter **/

@mixin footer-links {
  color: $uds-color-base-gray-2;
  line-height: $uds-size-spacing-3;
  text-decoration: none;

  &:hover {
    color: $uds-color-base-gold;
    text-decoration: underline;
  }
}

@mixin nav-to-grid {
  .nav {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: column;
    justify-items: start;
    width: 100%;
  }

  .nav-link {
    margin-right: 0;
    padding: 0.5rem 0;

    &:nth-child(n + 4) {
      justify-self: end;
    }
  }
}

#wrapper-endorsed-footer,
#wrapper-footer-columns {
  background: $uds-color-divider-darker;

  h5 {
    color: $uds-color-base-white;
  }
}

#wrapper-endorsed-footer {
  a {
    color: $uds-color-base-gray-2;
  }
}

#wrapper-endorsed-footer + #wrapper-footer-columns {
  border-top: 2px solid $uds-color-divider-lighter;
}

#wrapper-footer-innovation {
  background-color: $uds-color-base-gold;
  a {
    margin-right: $uds-size-spacing-3;
    text-decoration: none;
    color: $uds-color-base-gray-7;
  }
}

#wrapper-footer-colophon {
  background-color: $uds-color-base-gray-2;
  a {
    margin-right: $uds-size-spacing-3;
    text-decoration: none;
    color: $uds-color-base-gray-7;
  }
}

#endorsed-logo img {
  width: 100%;
  height: auto;
  transform: scale(1.13);
  margin: 12px 0;
}

#endorsed-footer {
  #social-media {
    .nav {
      padding-bottom: $uds-size-spacing-3;
    }

    .nav-link {
      font-size: $uds-size-icon-base;
      color: $uds-color-base-gray-4;
      line-height: 1;
      padding-top: 7px; // Magic number. Reducing the padding by 1px to make the height = 48px.
    }
  }
}

@include media-breakpoint-down(sm) {
  #endorsed-footer #social-media .nav-link:first-child {
    padding-left: 0;
  }
}

@include media-breakpoint-up(md) {
  #endorsed-logo {
    display: flex;
    align-items: center;
    img {
      box-sizing: border-box;
      padding: 0.5rem 0 0.5rem 0;
      max-height: $uds-size-spacing-14;
      width: auto;
    }
  }

  #social-media .nav {
    padding: $uds-size-spacing-5 0;
    justify-content: flex-end;

    .nav-link:last-child {
      padding-right: 0;
    }
  }
}

#footer-columns {
  #info-column {
    .contact-link {
      margin-bottom: $uds-size-spacing-4;

      a {
        @include footer-links;
        text-decoration: underline;
      }
    }

    .contribute-button {
      margin-bottom: $uds-size-spacing-3;
    }
  }

  .flex-footer {
    .card-foldable,
    .card-header,
    .card-body {
      background: $uds-color-divider-darker;
      color: #ffffff;
      border: 0;
    }

    .card-foldable {
      margin: 0;
    }

    .card-header {
      border-top: 1px solid $uds-color-divider-lighter;
      padding-left: 0;

      a {
        color: $uds-color-base-gray-2;
        padding: $uds-size-spacing-3 0;
        text-decoration: none;

        &:hover {
          background: $uds-color-divider-darker;
        }
      }
    }

    .card-body {
      padding: 0 0 0 $uds-size-spacing-3;

      .nav-link {
        color: #ffffff;
        padding: 0 0 $uds-size-spacing-2;
        @include footer-links;
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  #footer-columns {
    padding-top: $uds-size-spacing-6;
    padding-bottom: $uds-size-spacing-6;

    h5 {
      margin: 0 0 $uds-size-spacing-3 0;
    }

    .flex-footer {
      .card-header {
        border-top: 0;
        padding: 0;

        a {
          padding: 0;
          cursor: default;
        }

        span {
          display: none;
        }
      }

      .card-body {
        padding: 0;
        transition-delay: 0;

        &.collapse:not(.show) {
          display: block;
          min-height: auto;
        }
      }
    }
  }
}

#footer-innovation {
  .footer-innovation-links {
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    .img-link {
      order: 2;
      margin-right: 0;
      transform: translate(1.5rem, 0);
      img {
        height: 100px;
        width: auto;
      }
    }

    .nav-link {
      padding: 0;
    }
  }
}

@include media-breakpoint-down(md) {
  #footer-innovation {
    .footer-innovation-links {
      flex-direction: column;
      padding: $uds-size-spacing-1 0 $uds-size-spacing-1 0;
      .img-link {
        margin-right: 0;
        transform: none;
        img {
          width: 100%;
          height: auto;
          order: -1;
        }
      }
      @include nav-to-grid;
    }
  }
}

#wrapper-footer-colophon .colophon {
  margin: $uds-size-spacing-2 0;
}

#footer-colophon .nav-link {
  padding: 0;
}

@include media-breakpoint-down(md) {
  #footer-colophon {
    @include nav-to-grid;
  }
}

@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
}


/** extends/banners **/

// ASU Design System Banner styles without Bootstrap variables to override.
.hidden-banner {
  display: none;
}
.banner {
  position: relative;
  display: flex;
  padding: $uds-size-spacing-4 0;

  .banner-icon {
    text-align: left;
    svg {
      font-size: $uds-size-spacing-4;
      margin: ($uds-size-spacing-1 / 2) $uds-size-spacing-4
        ($uds-size-spacing-1 / 2) 0;
    }
  }
  .banner-content {
    flex: 5;
    margin-right: $uds-size-spacing-4;
    h3 {
      margin: $uds-size-spacing-1 $uds-size-spacing-0;
    }
  }
  .banner-buttons {
    flex: 3;
    a,
    button {
      margin-top: $uds-size-spacing-1;
      margin-bottom: $uds-size-spacing-1;
      margin-left: 0;
    }
    // Do buttons in their own flexbox, column-style, no stretching.
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .banner-close {
    flex: 2;
    margin-top: -$uds-size-spacing-2;
    margin-right: -$uds-size-spacing-2;

    // Edits close button content (i.e. "X" inside bubble)
    .close {
      opacity: $uds-component-button-close-opacity;
      font-size: 1rem;

      &:hover {
        opacity: $uds-component-button-close-opacity;
      }
    }
  }
}

.banner-green {
  background: $uds-color-base-green 0% 0% no-repeat padding-box;
  a:not(.btn) {
    color: $uds-color-font-dark-base;
  }
  a:visited:not(.btn) {
    color: $uds-color-font-dark-base;
  }
}
.banner-orange {
  background: $uds-color-base-orange 0% 0% no-repeat padding-box;
  a:not(.btn) {
    color: $uds-color-font-dark-base;
  }
  a:visited:not(.btn) {
    color: $uds-color-font-dark-base;
  }
}
.banner-blue {
  background: $uds-color-base-blue 0% 0% no-repeat padding-box;
  a:not(.btn) {
    color: $uds-color-font-dark-base;
  }
  a:visited:not(.btn) {
    color: $uds-color-font-dark-base;
  }
}
.banner-gray {
  background: $uds-color-background-gray 0% 0% no-repeat padding-box;
}
.banner-black {
  background: $uds-color-background-dark 0% 0% no-repeat padding-box;
  color: $uds-color-base-white;
  a:not(.btn) {
    color: $uds-color-font-light-link;
  }
  a:visited:not(.btn) {
    color: $uds-color-font-light-visited;
    // May need the following instead for proper contrast.
    //color: #ffc627;
  }
}

// Media Queries
.banner {
  // Mobile tweaks. 576px
  @media screen and (max-width: $uds-breakpoint-sm) {
    flex-direction: column;
    .banner-icon {
      flex: 1;
      margin-bottom: $uds-size-spacing-1;

      svg {
        font-size: $uds-size-spacing-5;
        margin: $uds-size-spacing-0;
      }
    }
    .banner-content {
      margin-bottom: $uds-size-spacing-2;

      h3 {
        margin-bottom: $uds-size-spacing-2;
      }
    }
    .banner-close {
      position: absolute;
      top: $uds-size-spacing-2;
      right: $uds-size-spacing-2;
      margin-top: initial;
      margin-right: initial;
    }
  }
}

.banner__text {
  word-break: break-all;
}

.banner-buttons  {
  a.btn {
    margin-left: 0;
  }
}

.block-inline-blockbanner {
  .banner {
    .banner-close {
      .close {
        opacity: 1;
      }
    }
  }
}

/** extends/card-and-image **/

.uds-card-and-image {
  aspect-ratio: 16 / 9;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 466px;
  max-width: 1920px;
  padding: 48px 96px;
  width: 100%;

  &-right {
    .card-and-image-align {
      display: flex;
      flex-direction: row-reverse;
    }
    flex-direction: row-reverse;
  }

  @media screen and (max-width: $uds-breakpoint-sm) {
    flex-direction: column;
    height: auto;
    justify-content: flex-end;
    min-height: 720px;
    padding: 24px;
    width: 100%;
    margin: 0;
    .container {
      padding-left: $uds-size-spacing-1;
      padding-right: $uds-size-spacing-1;
    }
  }

  &-container {
    @include media-breakpoint-down(md) {
      max-width: 384px;
    }

    .card .card-header {
      padding-bottom: $uds-size-spacing-2 !important;
    }
    @media screen and (max-width: $uds-breakpoint-sm) {
      width: 100%;
    }
  }

  .card-body {
    p {
      margin: $uds-size-spacing-4 0 $uds-size-spacing-3 0;
    }
  }
}

/** extends/form-fields **/

form.uds-form {
  .form-group {
    margin: 0 0 $uds-size-spacing-4 0;
  }

  label,
  legend {
    font-size: $uds-size-spacing-2;
    svg.uds-field-required {
      font-size: $uds-size-spacing-1;
      margin-right: 0.25rem;
      margin-bottom: 0.125rem;
      color: $uds-color-font-dark-error;
    }

    &.uds-form-label-disabled {
      color: $uds-color-base-gray-6;
    }
  }

  .form-control {
    color: $uds-color-base-gray-7;
    border: 1px solid $uds-color-base-gray-5;

    &.is-invalid::placeholder {
      color: $uds-color-base-gray-7;
    }

    &:disabled,
    &[readonly] {
      color: $uds-color-base-gray-4;
      background: $uds-color-base-gray-2;
      &::placeholder {
        color: $uds-color-base-gray-6;
      }
    }
  }

  input,
  textarea,
  select {
    padding-left: $uds-size-spacing-2 !important;
  }

  input:focus,
  textarea:focus,
  select:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 2px solid $uds-color-base-gray-7 !important;
    border-radius: none;
  }

  fieldset {
    margin: 0 0 $uds-size-spacing-4 0;

    .form-check {
      margin: $uds-size-spacing-2 0;
    }
  }

  .card-image-fieldset {
    margin-bottom: $uds-size-spacing-2;

    &.inline {
      display: flex;

      .form-check:not(:first-child) {
        margin-left: $uds-size-spacing-4;
      }
    }
  }

  .form-check {
    margin: 0 0 $uds-size-spacing-4 0;

    input[type='radio'],
    input[type='checkbox'] {
      opacity: 0;
    }

    input[type='radio'],
    input[type='checkbox'] {
      + label {
        font-weight: bold;
        position: relative;
        display: inline-block;
        cursor: pointer;
        margin-left: $uds-size-spacing-2;

        &::before {
          content: '';
          position: absolute;
          display: inline-block;
          left: -2.25rem;
          border: 1px solid $uds-color-base-gray-5;
          width: $uds-size-spacing-3;
          height: $uds-size-spacing-3;
          background: white;
        }
        &::after {
          content: '';
          position: absolute;
          display: inline-block;
          left: -1.875rem;
          top: 0.375rem;
          width: 0.75rem;
          height: 0.75rem;
        }
      }
      &:checked {
        + label::after {
          background: black;
        }
      }
      &:focus {
        + label::before {
          border: 2px solid $uds-color-base-gray-7;
        }
      }
      &:disabled {
        + label::before {
          background: $uds-color-base-gray-2;
        }
      }
      &:disabled + label {
        color: $uds-color-base-gray-5;
      }
    }

    input[type='radio'] {
      + label {
        &::before {
          border-radius: 50%;
        }
        &::after {
          border-radius: 50%;
        }
      }
    }

    input[type='checkbox'] {
      + label {
        &::before {
          left: -2.25rem;
          top: 0.1rem;
        }
        &::after {
          left: -$uds-size-spacing-4;
        }
      }
      &:checked {
        + label::after {
          background: transparent;
          background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='check' class='svg-inline--fa fa-check fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='currentColor' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'%3E%3C/path%3E%3C/svg%3E");
          height: $uds-size-spacing-2;
          width: $uds-size-spacing-2;
        }
      }
    }
  }

  &.was-validated {
    .form-control:invalid {
      border-style: solid;
      border: 1px solid $uds-color-font-dark-error;
      border-bottom: 8px solid $uds-color-font-dark-error;
    }
    .form-check-input:invalid ~ .form-check-label {
      color: $uds-color-base-gray-7;
    }

    .form-control:valid {
      border-style: solid;
      border: 1px solid $uds-color-font-dark-success;
      border-bottom: 8px solid $uds-color-font-dark-success;
    }
    .form-check-input:valid ~ .form-check-label {
      color: $uds-color-base-gray-7;
    }
  }
  &.needs-validation {
    .invalid-feedback {
      display: none;
    }

    .valid-feedback {
      display: none;
    }
  }

  input.is-invalid,
  textarea.is-invalid,
  select.is-invalid {
    border-style: solid;
    border: 1px solid $uds-color-font-dark-error;
    border-bottom: 8px solid $uds-color-font-dark-error;
  }
  small.is-invalid,
  div.is-invalid {
    margin-left: -$uds-size-spacing-2;
    margin-top: $uds-size-spacing-2;
  }
  legend ~ small.is-invalid,
  legend ~ div.is-invalid,
  select ~ small.is-invalid,
  select ~ div.is-invalid {
    margin-left: inherit;
    margin-top: inherit;
    color: $uds-color-font-dark-error;
  }
  .invalid-feedback {
    display: inline-block;
    font-weight: bold;
    svg {
      color: $uds-color-font-dark-error;
      margin-right: $uds-size-spacing-1;
    }
  }

  input.is-valid,
  textarea.is-valid,
  select.is-valid {
    border-style: solid;
    border: 1px solid $uds-color-font-dark-success;
    border-bottom: 8px solid $uds-color-font-dark-success;
  }
  small.is-valid,
  div.is-valid {
    margin-left: -$uds-size-spacing-2;
    margin-top: $uds-size-spacing-2;
  }
  legend ~ small.is-valid,
  legend ~ div.is-valid,
  select ~ small.is-valid,
  select ~ div.is-valid {
    margin-left: inherit;
    margin-top: inherit;
    color: $uds-color-font-dark-success;
  }
  .valid-feedback {
    display: inline-block;
    font-weight: bold;
    svg {
      color: $uds-color-font-dark-success;
      margin-right: $uds-size-spacing-1;
    }
  }

  .input-group-trailing-icon {
    svg {
      position: absolute;
      right: 0.75rem;
      top: 0.75rem;
      color: $uds-color-base-gray-7;
    }
  }
}

/** components/form-overrides **/

.layout-builder-discard-changes.confirmation,
.layout-builder-revert-overrides.confirmation {
  padding-top: 2.5rem;
  .form-actions {
    margin-top: 2.5rem;
  }
}

form.uds-form {
  input {
    padding-left: $uds-size-spacing-4 !important;
  }
}

form.uds-form.layout-builder-configure-block .form-check input[type=radio] {
  opacity: 1;
}

form.uds-form.layout-builder-configure-block .form-check input[type=radio]+label:before {
  content: none;
}

form.uds-form.layout-builder-configure-block .form-check input[type=radio]+label:after {
  content: none;
}

form.uds-form .form-check input[type=checkbox]+label:before {
  top: 0.1rem;
}

#drupal-off-canvas {
  form {
    &.uds-form {
      &.layout-builder-configure-block {

        .media-library-widget {
          .fieldset-legend::after {
            background-image: none;
          }

          .media-library-selection {
            margin-bottom: 0;
          }

          .media-library-item--grid {
            background: none;
            &::before {
              border: none;
            }

            .media-library-item__name {
              color: inherit;
            }

            .media-library-item__attributes {
              background: none;
              bottom: 0.5rem;
            }
          }
        }

      }

      label {
        svg {
          &.uds-field-required {
            color: $uds-color-background-error;
          }
        }
      }

      .form-required {
        &::after {
          color: $uds-color-background-error;
        }
      }
    }

    button.tabledrag-toggle-weight {
      color: $uds-color-background-info;
      &:hover {
        color: $uds-color-background-info;
        font-weight: $uds-font-weight-bold;
      }
      &:focus {
        color: $uds-color-background-info;
        box-shadow: none;
      }
    }

    .alert-danger {
      a {
        color: $uds-color-base-gray-7;
        text-decoration: underline;
      }
    }
  }

  .layout-selection {
    li {
      div {
        color: $uds-color-background-info;
      }
    }
  }

  a {
    color: $uds-color-background-info;
  }

  input[type=search]:not(.js-off-canvas-computed-ignore) {
    color: $uds-color-base-gray-7;

    &::placeholder {
      color: $uds-color-base-gray-7;
    }
  }

  .description {
    &.text-muted {
      color: inherit !important;
    }

    a {
      color: inherit;
      text-decoration: underline;
    }
  }

  .banner-green,
  .banner-orange,
  .banner-blue,
  .banner-gray {
    outline: black 5px solid;
  }

  .banner-black {
    outline: $uds-color-border-light 5px solid;
  }

}

/** components/form-fields **/

@mixin contrast-icon($icon) {
  border-color: $uds-color-base-gray-6;
  background-image: url('../../../../composer/webspark-theme-renovation/img/ui-icons/000000/#{$icon}.svg');
  &:hover {
    background-image: url('../../../../composer/webspark-theme-renovation/img/ui-icons/000000/#{$icon}.svg');
    border-width: 2px;
  }
}

@mixin contrast-button($icon) {
  button.trigger {
    @include contrast-icon($icon)
  }
}
#drupal-off-canvas {
  form.uds-form {
    .form-check-label {
      &::before {
        top: -0.3rem;
      }
      &::after {
        top: -0.1rem;
      }
    }
  }
}

.layout-builder__link--add {
  color: $uds-color-base-gray-6;
}

.layout-builder__link--remove {
  @include contrast-icon('ex');
}

.layout-builder-block {
  @include contrast-button('pencil');
}

.contextual-region {
  @include contrast-button('pencil');
}

/** extends/modals **/

.uds-modal-close-btn, #drupal-off-canvas .btn {
  width: max-content !important;
}

/** extends/alerts **/

// ASU Design System Alert styles without Bootstrap variables to override.

.alert {
  display: flex;

  .alert-icon {
    flex: 0 0 $uds-size-spacing-8;
    svg {
      font-size: $uds-size-spacing-4;
    }
  }
  .alert-content {
    flex: 10;
    padding: $uds-size-spacing-1 $uds-size-spacing-0;
  }
  .alert-close {
    flex: 1;

    .close {
      font-size: 1rem;
      opacity: 1;
    }
  }
}

.alert {
  @media screen and (max-width: $uds-breakpoint-sm) {
    .alert-icon {
      flex: 0 0 $uds-size-spacing-6;
      svg {
        font-size: $uds-size-spacing-4;
        margin-top: $uds-size-spacing-2;
      }
    }
    .alert-close {
      margin-top: -$uds-size-spacing-1;
      margin-right: -0.75rem; // Magic number.
    }
  }
}

/** extends/buttons **/

.btn.btn-circle {
  padding: $uds-size-spacing-half $uds-size-spacing-half;
  width: $uds-size-spacing-4 !important;
  height: $uds-size-spacing-4;
  border: solid 1px $gray-3;
  &.btn-circle-alt-white {
    background: $gray-2;
    color: $body-color;
  }
  &.btn-circle-alt-gray {
    background: $white;
    color: $body-color;
  }
  &.btn-circle-alt-black {
    background: $white;
    color: $gray-7;
  }
  &.btn-circle-large {
    width: $uds-size-spacing-8 !important;
    height: $uds-size-spacing-8;
    font-size: 1.5rem;
  }
  &.btn-circle-x-large {
    width: 6.5rem !important;
    height: 6.5rem;
    font-size: 3rem;
  }
}
