.block-inline-blockimage, .block-block-content {
  .uds-img {
    max-width: 100%; // Reset default max width
  }
}

// Override webspark gallery image styling
.uds-img {
  .uds-figure {
    img {
      border: none;
    }

    .figure-caption {
      background-color: $gray-lightest;
      border: 1px solid #cccccc;
      padding: 1.75rem;

      .uds-caption-text {
        color: $gray-darkest;
        font-size: $font-size-sm;
        line-height: $font-size-sm;
        max-width: 100%;
      }
    }
  }
}