.asu-footer {
    font-family: Arial;

    #wrapper-endorsed-footer {
        #endorsed-logo {
            text-align: center;

            img {
                height: auto;
                padding: 0rem;
                width: auto;
                transform: scale(1);
                max-width: 374px;
            }
        }

        #social-media {
            .nav { // <nav>
                justify-content: center;
                padding: 2.5rem 0rem;
            }
        }
    }

    #wrapper-footer-columns {
        .container {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }

        #footer-columns {
            #info-column {
                h5 {
                    font-size: 0.8125rem; // 13px;
                    font-weight: 700;
                    line-height: 1.4; // 26px;
                    margin-bottom: 1.5rem;
                }

                p { // .contact-link or .contribute-button
                    margin: 0rem;

                    a {
                        background-color: transparent !important;
                        border: none;
                        display: block;
                        font-size: 0.8125rem; // 13px;
                        font-weight: 400;
                        line-height: 1.2; // 26px;
                        padding: 0rem;
                        text-align: inherit;
                        text-decoration: none;
                        text-transform: initial;
                        margin-bottom: 0.75rem;

                        @media(min-width: 1199px) {
                            max-width: 95%;
                        }
                    }
                }

                .contribute-button a {
                  color: white;
                }

                .link-give-us {
                  
                  border-radius: 400rem;
                  margin-bottom: 1rem;

                  &:hover {
                    color: $gray-900 !important;
                    background-color: $gold !important;
                  }
                }

                .link-contact-us {
                    color: #e8e8e8;
                    line-height: 1.5rem;
                    font-size: 16px;
                    text-decoration: underline;
                    margin-bottom: 32px;
                    display: inline-block;

                    &:hover {
                        color: $gold !important;
                    }
                }
            }

            .flex-footer {
                .card-foldable {
                    background-color: transparent;
                }

                .card-header {
                    background-color: transparent;

                    h5 {
                        margin-bottom: 0.75rem;

                        a {
                            background-color: transparent;
                            font-size: 0.8125rem; // 13px;
                            font-weight: 700;
                            line-height: 1.625rem; // 26px;
                            text-decoration: none;
                            padding: 0rem;
                        }
                    }
                }

                .card-body {
                    background-color: inherit;
                    padding: 0rem;

                    .nav-link { // <a>
                        font-size: 0.8125rem; // 13px;
                        font-weight: 400;
                        line-height: 1.2; // 26px;
                        padding-bottom: 0.75rem;
                    }
                }
            }
        }
    }
}

@media(max-width: 1199px) { // The Webspark footer wraps at 1200
    .asu-footer {
        #wrapper-footer-columns {
            #footer-columns {
                .flex-footer {
                    .card-header {
                        &.show  { // Class dynamically added by thunderbird.script.js
                            h5 {
                                a {
                                    &:after {
                                        transform: rotate(180deg);
                                    }
                                }
                            }

                            & + div {
                                display: block;
                                height: initial;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:1199px) and (max-width:1289px) {
    .asu-footer {
        #wrapper-footer-columns {
            #footer-columns {
                #info-column {
                    h5 {
                        margin-top: 0;
                    }
                }
                .flex-footer {
                    .card-header {
                        border-top: 0;
                        padding: 0;

                        h5 a svg {
                            display: none;
                        }
                    }
                    .card-body {
                        display: block;
                        min-height: auto;
                    }
                }
            }
        }
    }
}

// Mobile styles
@include media-breakpoint-down(md) {
    .asu-footer {
        #wrapper-endorsed-footer {
            padding-top: 2rem;

            #social-media {
                .nav { // <nav>
                    justify-content: center;
                }
            }
        }

        #wrapper-footer-columns {
            #footer-columns {
                
                #info-column {
                    margin-bottom: 1rem;
                    h5 {
                        font-size: 1rem;
                    }
                }

                .flex-footer {
                    .card-header {
                        padding: 0;

                        h5 {
                            margin-bottom: 0;
    
                            a {
                                font-size: 1rem;
                                padding: 1.5rem 0;
                            }
                        }
                    }

                    .card-body {
                        .nav-link {
                            font-size: 1rem;
                            padding-bottom: 1rem;
                        }
                    }
                }
            }
        }
    }
}