.path--students {
  .node-access-denied {
    .hero {
      min-height: unset;

      .content {
        display: none;
      }
    }

    .text-content {
      .btn {
        font-size: 24px;
      }
    }
  }
}

// Background behaviors
.section-background {
  background-size: 1920px 1080px; // Set original image size
  background-position: 50% 0%; // Top center
  background-repeat: no-repeat;

  // Background colors
  &.grey {
    background: $gray-lightest;
  }

  // Background images
  &.dubai,
  &.jakarta,
  &.london,
  &.moscow,
  &.nairobi,
  &.phoenix,
  &.tokyo {
    background-size: contain;
    background-position: center;
  }

  &.dubai {
    background-image: url('/themes/custom/thunderbird/assets/img/background-dubai.png');
  }
  &.jakarta {
    background-image: url('/themes/custom/thunderbird/assets/img/background-jakarta.png');
  }
  &.london {
    background-image: url('/themes/custom/thunderbird/assets/img/background-london.png');
  }
  &.moscow {
    background-image: url('/themes/custom/thunderbird/assets/img/background-moscow.png');
  }
  &.nairobi {
    background-image: url('/themes/custom/thunderbird/assets/img/background-nairobi.png');
  }
  &.phoenix {
    background-image: url('/themes/custom/thunderbird/assets/img/background-phoenix.png');
  }
  &.tokyo {
    background-image: url('/themes/custom/thunderbird/assets/img/background-tokyo.png');
  }

  &.globe {
    background-image: url('/themes/custom/thunderbird/assets/img/background-globe.png');
  }
  &.headquarters {
    background-image: url('/themes/custom/thunderbird/assets/img/background-headquarters.png');
  }
  &.plane {
    background-image: url('/themes/custom/thunderbird/assets/img/background-plane.png');
  }
}

@include media-breakpoint-down(md) {
  .section-background {
    background-position: 40% 0%;
  }
}

/* Temporary spacing fixes. */

.degree {
  .block.table {
    padding-top: 0;
  }
}

/* Content direction. */

[dir=rtl] {
  text-align: right;

  h1, h2, h3, h4, h5 {
    text-align: right;
  }

  [dir=ltr] {
    text-align: left;

    h1, h2, h3, h4, h5 {
      text-align: left;
    }
  }
}
