.hero-wrapper {
  background-size: cover;
  background-position: center top;
  background-color: $blue-dark;
  position: relative;
  
  &:before {
    content: '';
    background: linear-gradient(to bottom, rgba($blue-dark, 1) 0%, rgba($blue-dark, 0) 100%);
    position: absolute;
    height: 15rem; // 240px
    width: 100%;
    left: 0;
    top: 0;
    z-index: 0;
  }

  &.gdmi-main-hero {
    .content {
      outline: 5px solid $gold;
      outline-offset: 28px;
      max-width: 571px;
      
      .btn-gold:hover {
        color: white !important;
      }

      .field-two-cta {
        display: flex;
        flex-direction: column;
        align-items: flex-end;


        .field__item:nth-of-type(2) .btn {
          border: none;
          background-color: transparent !important;
          padding-left: 0;
          padding-right: 0;

          &:hover {
            color: white !important;
          }
        }
      }
    }
  }
}

.hero-wrapper-stripes {
  &:after {
    content: '';
    background: linear-gradient(to right, $blue-dark 0%, $blue-dark 10%, $blue-mid 10%, $blue-mid 60%, $blue-light 60%, $blue-light 90%, $gold 90%, $gold 100%);
    opacity: 0.7;
    position: absolute;
    height: 100%;
    left: 0rem;
    top: 0rem;
    width: 5rem;
    z-index: 0;
  }
}

.hero {
  display: flex;
  position: relative;
  min-height: 480px;
  padding-top: 7rem; // 112px
  padding-bottom: 7rem; // 112px
  
  &.size-md,
  &.size-lg {
    min-height: 75vh;
  }

  @media (min-width: map-get($grid-breakpoints, 'lg')) {
    &.size-md {
      min-height: 700px;
    }

    &.size-lg {
      min-height: 800px;
    }
  }

  .logo {
    height: 100px; // A fixed height on SVGs is required for Safari browsers
    position: absolute;
    top: 5rem;
    right: $grid-gutter-width / 2;
    width: auto;
    z-index: 1;
  }

  .content {
    position: relative;
    z-index: 1;
    color: white;
    font-size: 1.125rem;

    .heading {
      color: $gold;
      letter-spacing: -1.86px;
      margin: 0 0 1.5rem;
      width: 100%;
      
      &.blue {
        color: $blue-mid;
      }
    
      &.gold {
        color: $gold;
      }
    
      &.navy {
        color: $blue-dark;
      }

      &.white {
        color: white;
      }
    }

    .subheading {
      color: white;
      font-size: 1.25rem; // 24px
      line-height: 1.875rem; // 30px
      margin-bottom: 1.5rem;
      letter-spacing: -0.14px;
      width: 100%;
    }

    .body {
      color: white;
      font-size: 1.125rem; // 18px
      margin-bottom: 1rem;
    }

    .btn {
      background-color: $blue-mid;
      border: 1px solid white;
      color: white;
      &:hover {
        background-color:$btn-hover-background-color;
      }
    }

    .field-two-cta {
      .field__item {
        display: inline-block;

        .btn {
          margin: 0.5rem 0 0 1rem;
        }

        .home-page & {
          &:nth-of-type(1) .btn {
            background-color: $gold;
            color: $blue-dark;
            border-color: $gold;

            &:hover {
              background-color: rgba($blue-dark, 0.2);
              color: white;
            }
          }

          &:nth-of-type(2) .btn {
            background-color: rgba($blue-dark, 0.2);
            border-color: $gold;
            color: white;

            &:hover {
              background-color: $gold;
              color: $blue-dark;
            }
          }
        }
      }
    }

    .field {
      width: 100%;
    }

    .field__label {
      font-weight: $font-weight-bolder !important;
    }
  }

  .field-school-term, .field-class-location, .field-start-dates {
    .field__item {
      display: inline-block;
      font-size: 1.125rem;
    }
  }

  // IDX: April 23, 2024 ~ Client wants to hide this
  .field-class-location,
  .field-start-dates,
  .field-certificate-fees {
    display: none !important;
  }

  .dropdown-language {
    background-color: white;
    color: $gray-darkest;
    border-bottom: 8px solid $gold;
    padding: 0;
    width: 100%;

    h2 {
      font-size: 1rem;
      color: $gray-darkest;
      vertical-align: middle;
      margin: 0;
      line-height: 2.25rem;
      font-weight: 700;
      padding: 0 2rem 0 0.75rem;

      [dir=rtl] & {
        float: right;
        padding: 0 0.75rem 0 2rem;
      }
    }

    .dropbutton-container {
      min-width: 210px;
      vertical-align: top;
    }

    .language-link {
      font-size: 1rem;
      line-height: 0.75rem;
    }

    @media (min-width: 450px) {
      width: auto;

      h2 {
        display: inline-block;
      }

      .dropbutton-container {
        display: inline-block;
      }
    }
  }

  .field-two-cta + .dropdown-language {
    margin-top: 2rem;
  }

  @include media-breakpoint-down(md) {
    .content {
      text-align: center;

      .heading {
        text-align: center;
      }

      .field {
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    &.size-md,
    &.size-lg {
      justify-content: center !important;
      align-items: flex-end !important;
    }
  }

  @include media-breakpoint-up(md) {
    &.justify-content-end {
      .content {
        text-align: right;
        justify-content: flex-end;

        .heading {
          text-align: right;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    &.size-md,
    &.size-lg {
      .content {
        width: 50%;

        .coe & {
          width: auto;
        }
      }
    }
  }
}

// Content box background.
.content-background {
  .content {
    background-color: rgba($blue-dark, 0.8);
    padding: 2.625rem 2.188rem 2.188rem;
    display: flex;
    flex-wrap: wrap;
    
    .heading {
      @include media-breakpoint-up(sm) {
        font-size: 3.438rem;
      }
    }
  }
}

// Handles if the user select bottom right for Hero Content.
.hero.justify-content-end.align-items-end {
  .content > {
    div, h1, h2, h3, h4, h5, h6, p {
      justify-content: flex-end;
      text-align: right;
    }
  }
}

.coe {
  .hero {
    align-items: center !important;
    justify-content: center !important;

    .content {
      .heading {
        font-size: $h3-font-size;
        text-align: center;
      }

      .subheading {
        display: block;
        color: $gold;
        font-size: 1.75rem; // 28px
        margin-bottom: 0.5rem;
      }
    }
  }

  .coe-locations {
    background-color: rgba($blue-dark, 0.75);
    margin: auto;
    max-width: 1000px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
  
    .location {
      padding: 1rem;
  
      .city {
        color: $gold;
        font-size: 1.5rem;
        font-weight: 900;
        line-height: 1.5rem;
      }
  
      .country {
        color: $gold;
        font-size: $font-size-sm;
        font-weight: 900;
        line-height: $font-size-sm;
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, 'lg')) {
  .hero {
    .logo {
      max-height: 50px;
      top: 15px;
    }
  }

  .coe {
    .hero {
      height: initial;
      min-height: 360px;
    }

    .coe-locations {
      bottom: 0;
      flex-direction: column;
      position: relative;
      z-index: 1;
    }
  }
}
