.person-bio {
    p {
        line-height: 30px;
    }

    .contentarea {
        padding-top: 32px;
        padding-bottom: 62px;
    }

    .expertise-title {
        font-size: $h6-font-size;
        line-height: $h6-font-size;
    }

    .hero-wrapper {
        padding-top: 0;
        padding-bottom: 0;
        background-color: $gray-light;
        grid-template-rows: 0fr repeat(1,auto) 3rem;

        @media screen and (max-width: $uds-breakpoint-sm) {
            ming-height: 250px;
        }

        &.hero-wrapper:before {
            background: none;
        }
    }

    &.hide-vertical-stripe {
        .hero-wrapper:after {
            background: none;
        }
    }

    .add-hero-text-background {
        padding-top: 12%;

        .content {
            background-color: $blue-dark;
            padding-left: 50px;
            padding-top: 40px;
            padding-bottom: 43px;
            padding-right: 50px;
            width: 500px;

            h1 {
                color: $gold;
                padding-top: 0;
            }

            a {
                color: $gold;
            }
        }
    }

    .social-buttons a {
        padding-right:15px;
        font-size: 22px;
    }

    ul, ul li {
        list-style-type: none;
        padding: 0;
    }

    .breadcrumb {
        background: $gray-1;
        margin-bottom: 0;
        padding: 7px 1rem;

        li {
            font-size: 14px;
        }
    }
    
    .biography {

        .person-info {
            h1 {
                font-size: 45px;
                color: $blue-mid;
                line-height: 45px;
                text-transform: capitalize;
            }
    
            .content {
                margin-top: 0;
            }
    
            .primaryTitle {
                color: $blue-dark;
                font-size: 1rem;
                font-weight: 700;
                line-height: 1rem;
                margin-bottom: 4px;
            }
            
            .address {
                color: $blue-dark;
                font-weight: normal;
                font-size: 15px;
                line-height: 1rem;
            }
        }

        .content {
            p {
                margin-bottom: 1em;
                line-height: 2em;
            }

            &.arrows li {
                border-bottom: 1px solid #DDD;
                font-size: 14px;
                font-weight: 900;
                color: $blue-mid;
                text-transform: uppercase;
                padding-top: 10px;
                padding-bottom: 10px;

                &:before {
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    content: "\f061";
                    color: $blue-dark;
                    padding-right: 10px;
                }
            }
        }

        @media screen and (max-width: $uds-breakpoint-sm) {
            .expertise {
                padding-top: 3em;
            }
        }
    }

    .btn-info {
        background-color: $blue-mid;
        border-color: $blue-mid;
        margin-top: 20px;
        &:hover {
            background-color:$btn-hover-background-color;
        }
    }

    .education {
        background: $gray-1;

        ul {
            display: flex;

            @media screen and (max-width: $uds-breakpoint-sm) {
                flex-direction: column;
            }

            li {
                padding-right: 5%;
                flex: 1 1 30%;
                @media screen and (max-width: $uds-breakpoint-sm) {
                    padding-bottom: 1em;
                }
            }

            .title {
                font-weight: bold;
            }
        }

        .title {
            color: $blue-dark;
            font-size: 22px;
        }
    }

    .biography {
        line-height: 1.75;
    }

    .biography #collapsebio.collapse:not(.show) {
        display: block;
        height: 10em;
        overflow: hidden;
    }

    .biography #collapsebio.collapsing {
        height: 3rem;
    }

    .biography .btn:not(.collapsed) {
        display:none;
    }

    .grey, .grey-bg {
        background: $gray-lightest;
        padding: 3rem;
    }
}
