<div class="blockquote {{ blockquote_type }}">
  <span class="double-quote">“</span>
  <p class="quote">{{ body_text }}</p>
  <div class="author">{{ citation_author }}</div>
  <div class="description">{{ citation_description }}</div>
  {% include '@renovation/buttons/button-action.twig' with { url : cta.link, title: cta.title } %}
</div>