.carousel-image {
    .h2 {
        margin-bottom: 2rem;
    }

    .h3 {
        text-align: center;
    }

    &.corners {
        @include media-breakpoint-up(lg) {
            padding: 3rem; // 48px
        }
    }

    .slick {
        margin: 0 !important;
         
        .slide {
            background-position: center;
            background-size: cover;
            display: flex;
            flex-wrap: wrap;

            &.left {
                /* Move text to the right if image is to the left */
                justify-content: flex-end;
            }

            .text {
                max-width: 50%;
            }

            img {
                max-width: 100%;
            }
        }

        .navigation {
            align-items: center;
            display: flex;
            justify-content: center;
            padding-top: 1rem;

            .slick-dots {
                padding: 0rem 1rem;
                position: static;
                width: initial;
    
                li {
                    margin: 0px;
                    position: static;
    
                    &.slick-active {
                        button {
                            &:before {
                                border: none;
                                background-color: $blue-mid;
                            }
                        }
                    }

                    button {
                        &:before {
                            background-color: transparent;
                            border: 2px solid $gray-400;
                            content: '';
                            display: block;
                            width: 10px;
                            height: 10px;
                            position: static;
                            opacity: 1;
                        }
    
                        &:focus {
                            box-shadow: none !important;
                        }
                    }
                }
            }
            
            .slick-arrow {
                align-items: center;
                border: 1px solid $blue-mid;
                border-radius: 999px;
                display: flex;
                flex-shrink: 0;
                height: 50px;
                justify-content: center;
                position: static;
                width: 50px;
                transform: initial;
    
                &:before {
                    height: 24px;
                    opacity: 1;
                    width: 24px;
                }
                
                &:focus {
                    box-shadow: none !important;
                    border-width: 4px;
                }
    
                &.slick-prev {
                    &:before {
                        content: url('/themes/custom/thunderbird/assets/icons/arrow-left.svg');
                    }
                }
    
                &.slick-next {
                    &:before {
                        content: url('/themes/custom/thunderbird/assets/icons/arrow-right.svg');
                    }
                }
    
                &.slick-disabled {
                    opacity: 0.25;
                    border-width: 1px !important;
                    &:before { opacity: 1; /* Reset default slick theme */ }
                }
            }
        }
    }
}
