<div class="col-sm-12 col-lg">
  <div class="inner">
    <div class="signpost-img">
      <div class="image">
        {{ content.field_signpost_image }}
      </div>
    </div>          
    {{ content.field_signpost_content }}
    {{ content.field_link_list }}
  </div>
</div>
