{%
  set classes = [
    'paragraph',
   'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <h2 class="heading">{{ content.field_signpost_title }}</h2>
  <div class="body"> {{ content.field_signpost_body }}</div> 
  {% if content.field_signpost_link['0']['#url'] is not empty %}
    <div class="signpost-button">
      {% include '@renovation/buttons/button-action.twig' with {
        url : content.field_signpost_link['0']['#url'],
        title: content.field_signpost_link['0']['#title'],
        button_color: 'btn-blue'
      } %}
    </div> 
  {% endif %}
{% endblock paragraph %}