{# Render block #}
{{ content.field_block }}

{# Render optional tab content #}
{% if content.field_tab_content is not empty %}
    <div class="container">
        {{ content.field_tab_content }}
    </div>
{% endif %}