
{% if list_counter == 2 %}
  {% set column_class = 'col-12 row' %}
{% else %}
  {% set column_class = 'col' %}
{% endif %}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class
  ]
%}
{% block paragraph %}
  <div class="col-sm-12 {{ column_class }} col-lg one-col-link-list">
    {% if content.field_signposts_title|render|striptags|trim is not empty %}
      <div class="field-signposts-title">{{ content.field_signposts_title|render|striptags|trim }}</div>
    {% endif %}
    {{ content|without("field_signposts_title") }} 
  </div>
{% endblock paragraph %}