{% set heading = content.field_heading|render|striptags|trim %}

<div class="card">
  {% if heading is not empty %}
    <div class="card-header">
      <h3 class="card-title">{{ heading }}</h3>
    </div>
  {% endif %}
  {% if content.field_body|render|striptags|trim is not empty %}
    <div class="card-body">
      {{ content.field_body }}
    </div>
  {% endif %}
  {% if content.field_cta|render|striptags|trim is not empty %}
    <div class="card-buttons">
      <div class="card-button">
        {{ content.field_cta }}
      </div>
    </div>
  {% endif %}
</div>

{{ content|without('field_heading', 'field_body', 'field_cta', 'field_icon', 'field_clickable', 'field_card_link') }}