{% extends 'paragraph--signpost-w-icon.html.twig' %}
{% set body = content.field_signpost_icon_body|render|striptags|trim %}
{% block content %}
  {% if body is not empty %}
    <div class="headline{{ headline_class }}">
      {{ content.field_signpost_icon_body }}
    </div>
  {% endif %}
  {% if title is not empty %}
    <h3>{{ title|raw }}</h3>
  {% endif %}
  {% if link_title is not empty %}
    <span>{{ link_title }}</span>
  {% endif %}
{% endblock content %}