.virtual-tour {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 480px;

  .heading-box {
    width: 100%;
    padding: 1rem $component-padding 0;
    text-align: center;

    h3 {
      text-align: center;
      margin: 0 0 1.5rem;
    }
  }

  .subheading {
      color: $blue-dark;
      font-size: 1.5rem; /* 24px */
  }

  @include media-breakpoint-up(md) {
    min-height: 0;
    background-position: center left;
    background-size: 70%;
    align-items: center;
    justify-content: end;

    .heading-box {
      width: 30%;
      float: right;
      margin: 0 0 0 auto;
      padding: 15% $component-padding 15% 0;
      text-align: left;

      h3 {
        text-align: left;
      }
    }
  }

  @media screen and (min-width: $uds-breakpoint-xxl) {
    background-position: bottom left;

    .heading-box {
      padding-top: 18%;
    }
  }
}