.gdmi-form {
  max-width: 957px;
  margin-top: 70px;

  &-body {
    background-color: $gray-1;
  }
  
  &__title {
    border-bottom: 8px solid $gold;
    color: $blue-dark;
    display: inline-block;
    line-height: 1.3;
    margin-bottom: 12px;
  }
    
  &__create-account {
    display: block;
    font-weight: 900;
    margin-bottom: 2rem;
  }

  form.uds-form .form-control {
    border-color:#CCC;
  }

  label.js-form-required {
    svg {
      display: none;
    }

    &::before {
      content: '*';
      color: #FE003D;
    }
  }

  
  &-footer {
    .gdmi-form__message p {
      color: #333;
      font-size: 0.625rem;
      font-weight: 400;
      line-height: 1.5;
    }
  }

  .form-actions {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    
    a {
      font-weight: 900;
      margin-right: 12px;
    }

    input {
      border: none;
    }
  }

  .form-select {
    background-image: url('/themes/custom/thunderbird/src/components/select/arrow-select-blue.svg');
    background-size: 12px 14px;
  }

  @include media-breakpoint-up(lg) {
    padding: 0;
  }

}

input[type="radio"].gdmi-check {
  appearance: none;
  background-color: #fff;
  width: 30px;
  height: 30px;
  margin: 0;
  border: 3px solid $blue-dark;
  border-radius: 50%;
  display: grid;
  place-content: center;

  &::before {
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1.5em 1.5em $blue-mid;
  }

  &:checked::before {
    transform: scale(1);
  }
}

.checkout-pane-admin-designation-pane {
  .title {
    margin-bottom: 55px !important;
  }
  .form-radios {
    margin-bottom: 46px !important;
  }
  
  .js-form-type-radio{ 
    padding-left: 0;
    display: flex;
    align-items: center;
    margin-bottom: .5rem !important;
  }

  input[type="radio"] {
    @extend .gdmi-check;
    padding-left: 0 !important;
    opacity: 1 !important;

    & + label {
      margin-left: 2.5rem !important;
      font-size: 30px;
      font-weight: 900;
      color: $blue-dark;

      &::after,
      &::before {
        display: none !important;
      }
    }
  }

  #edit-admin-designation-pane-admin-designation {
    input[type="radio"] {
      & + label {
        color:#979797;
      }

      &:checked + label {
        color: $blue-dark;
      }
    }
  }
}

.gdmi-check-form-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;

  select {
    min-width: auto;
    max-width: fit-content;
    margin-left: 10px;
  }

  label {
    font-size: 18px;
    font-weight: 700;
    color: $blue-dark;
    margin-left: 10px;
    margin-bottom: 0;
    cursor: pointer;
  }

  p {
    display: block;
    margin-top: 12px;
    width: 100%;
  }

  small {
    font-size: 14px;
    padding-left: 40px;
    line-height: 1.4;
    margin-top: 10px;
  }
}