.gdmi-edit-group-form {
  
  h1 {
    margin-top: 50px;
    margin-bottom: 71px;
  }
  
  form {
    max-width: 715px;
    margin-bottom: 200px;

    .elements {
      gap: 25px;
      
      .form-item {
        label {
          font-size: 34px;
          
          &::before {
            content: '*';
            color: #FE003D;
          }
        }

        input {
          font-size: 16px;
          font-weight: 700;
          color: $gray-darkest;
        }
    
        svg {
          display: none;
        }
      }
    }
  }
}