.gdmi-login-form {
  
  .row {
    flex-direction: column-reverse;
  }
  
  &__left {
    padding: 2rem;
  }

  &__right {
    height: 150px;

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  @include media-breakpoint-up(md) {
    .row {
      flex-direction: row;
    }

    &__right {
      height: auto;
    }

    &__left {
      padding: 4.656rem 5.188rem;
    }

  }

  @include media-breakpoint-up(lg) {
    &__left,
    &__right {
      max-height: 587px;
    }

    &__right {
      flex-basis: 44.3%;
      max-width: 44.3%;
    }

    &__left {
      flex-basis: 55.7%;
      max-width: 55.7%;
    }
  }
}
