.block-inline-block-gdmi-signposts {
  background-color: $blue-dark;
  padding-top: 62px;
  padding-bottom: 62px;
  
  .description {
    color: white;
    margin-bottom: 35px;

    p {
      font-size: 22px;
    }
  }

  .items {
    display: grid;
    margin-bottom: 54px;

    .signpost-w-icon {
      * {
        stroke: white !important;
        color: white !important;
      }
      
      &:first-of-type * {
        fill: $blue-dark !important;
      }

      h3 {
        font-size: 22px;
      }

      p {
        font-size: 18px;
      }
    }
  }
  
  .btn-gold {
    &:hover {
      background-color: $gold;
    }
  }

  @include media-breakpoint-up(md) {
    .items {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @include media-breakpoint-up(lg) {
    .items {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}