{#
/**
 * @file
 * Theme implementation to display the Insights listing.
 *
 * @ingroup themeable
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{{ attach_library('thunderbird/clickable') }}
<div class="insights-grid">
  <div class="grid">
    {% for row in rows %}
      {{- row.content -}}
    {% endfor %}
  </div>
</div>