// Article: Teaser
// -----------------------------------------------------------------------------
.article--teaser {

}

// Article: Full
// -----------------------------------------------------------------------------
.article--full {

}

.insight--teaser { // <article>
    padding-top: $component-padding;
    padding-bottom: $component-padding;
    
    .corners {
        @include media-breakpoint-up(lg) {
            padding:  3.125rem 5.625rem; // 50px 90px
        }
    }

    .text-column {
        padding-top: 3rem;
        padding-bottom: 3rem;

        .field-kn-tags {
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 1.5rem;

            .field__item {
                color: #ffffff;
                font-size: $font-size-xs;
                line-height: $font-size-sm;
                margin: 0 0.5rem 0.5rem 0;
            }
        }

        .insight-date {
            color: $blue-dark;
            font-size: $font-size-xs;
            font-weight: 700;
            padding-bottom: 1rem;
        }

        .insight-title {
            font-size: $font-size-xl; // 30px
            line-height: $h3-font-size; // 34px

            a {
                color: $blue-dark;
            }
        }

        .body {
            font-size: $font-size-md; // 18px
            line-height: $font-size-xl; // 30px
            padding: 0rem 0rem 1.5rem;

            .more-link {
                display: none; // Hide button inside body
            }
        }

        .links { // <ul>
            .nav-item { // <li>
                margin: 0rem 0.5rem 0.5rem 0rem;

                a {
                    background-color: #0179B7;
                    color: #fff;
                    display: inline-block;
                    font-size: 0.875rem;
                    font-weight: 700;
                    line-height: 1rem;
                    text-transform: uppercase;
                    padding: 0.75rem 1.75rem;

                    &:hover {
                        color: #fff;
                        background-color: #002E5F;
                        border-color: #002E5F;
                    }
                }
            }
        }
    }

    .image-column {
        .field {
            height: 100%;

            img {
                object-fit: cover;
                height: 100%;
            }
        }
    }
}