.gdm-product-selection  {
  display: grid;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  gap: 1.5rem;
  grid-template-columns: 1fr;
  
  .commerce-product-card {
    background-color: $gray-1;

    .field-image {
      img {
        max-height: 305px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .title {
      font-size: 1.5rem;
      font-weight: 900;
      margin-bottom: 0.75rem;
      
      a {
        color: $blue-dark !important;
      }
    }

    .body {
      margin-bottom: 1.375rem;
    }

    .commerce-product-card__body {
      padding: 1.875rem;
    }

    .uds-form {
      margin-bottom: 0;
    }

    label.js-form-required {
      font-weight: 900;
      font-size: 18px;
      margin-bottom: 20px;
      color: $blue-dark;

      svg {
        display: none;
      }
    }

    .form-actions {
      position: relative;
      display: inline-block;

      .button--add-to-cart {
        padding-right: 40px;
      }

      .fa-arrow-right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1rem;
      }
    }
    
  }
  .commerce-product-card:nth-child(even) {
    .button--add-to-cart {
      background-color: $gold;
      border-color: $gold;
      color: $blue-dark;

      &+svg {
        color: $blue-dark !important;
      }
    }
  }

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
  }

}