.gdmi-headers-and-menus {

  box-shadow: 0 8px 10px rgba(0,0,0,.4);
  width: 100%;

  &.scrolled {
    position: fixed;
    left: 0;
    z-index: 999;
  }

  &__title {
    color: white;
    font-size: 2rem;
    font-weight: 900;
    line-height: 3rem;
  }

  &__upper,
  &__extra-btn ,
  .container {
    align-items: center;
    display: flex;
  }

  &__upper {
    background-color: $blue-mid;
    height: 80px;

    .container {
      justify-content: space-between;
    }
  }

  &__lower {
    background-color: $blue-dark;
    min-height: 60px;
    display: flex;
    align-items: flex-end;
  }

  &__dropdown {
    display: inline-block;
    position: relative;
  }

  &__dropdown-btn {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.125rem;
    font-weight: 900;

    &.active {
      color: $gold;

      &::after {
        content: '';
        width: 100%;
        height: 5px;
        background-color: $gold;
        position: absolute;
        left: 0;
        bottom: -22px;
      }
    }
  }

  &__dropdown-content {
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    padding: 0 1rem;
    position: absolute;
    z-index: 1;

    .nav-link {
      width: max-content;
    }
  }

  &__dropdown:hover {
    .gdmi-headers-and-menus__dropdown-content {
      display: block;
    }
  }

  &__hub-menu {
    flex-wrap: wrap;
    padding-bottom: 2rem;

    &,
    .nav {
      justify-content: center;
    }
    
    .nav-link {
      border-bottom: 5px solid transparent;
      color: white;
      font-weight: 900;
      padding-left: 0;
      padding-right: 0;
    }

    span.nav-link {
      color: #4375AB;
    }

    .nav-link:hover {
      color: $blue-mid;
    }

    .nav-link:focus {
      box-shadow: none !important;
    }

    .nav-link.is-active {
      border-color: $gold;
      color: $gold;
    }

    .nav-item {
      text-align: center;
      width: 100%;
    }

    .nav-item:not(:first-of-type) {
      margin-left: 50px;
    }

    @include media-breakpoint-up(lg) {
      justify-content: space-between;
      padding-bottom: 0;

      .nav-item {
        width: max-content;
      }
    }
  }

  &__extra-btn {
    background-color: $gold;
    color: $blue-dark;
    font-size: 0.875rem;
    line-height: 1;
    font-weight: 700;
    margin-top: 1rem;
    padding: 0.75rem 2rem;

    @include media-breakpoint-up(lg) {
      bottom: 5px;
      margin-top: 0;
      position: relative;
    }
  }
}