.organization-group-indicator {
  margin-top: 50px;
  
  &__organization,
  &__group {
    font-size: 34px;
    font-weight: 900;
    font-family: $font-family-sans-serif;
    padding: 8px 12px;
  }

  &__organization {
    color: $gold;
    background-color: $blue-dark;
    margin-right: 10px;
  }

  &__group {
    color: white;
    background-color: $blue-mid;
  }
}