.user-gdmi {
  &__title {
    margin: 3.125rem 0;
  }

  &__description {
    margin-bottom: 2.5rem;
  }

  &__items {
    display: grid;
    row-gap: 1.5rem;
    column-gap: 3.875rem;
    margin-bottom: 4rem;

    .field__label {
      display: inline-block;
      margin-bottom: 0.75rem;
    }

    .field__item {
      background-color: $gray-1;
      border: 1px solid #CCC;
      padding: 0.25rem 0.75rem;
      color: #979797;
    }
    
    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}