
.gdmi-radios-container {

  background-color: white;
  border: 1px solid #CCC;
  margin-bottom: 2rem;

  &__header {
    background-color: $blue-dark;
    padding: 1.875rem 2.188rem;
  }

  &__title,
  .key-text {
    font-size: 2.125rem;
    font-weight: 900;
    line-height: 1;
  }

  &__title {
    color: $gold;
  }

  &__subheader {
    .key-text-container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: $blue-dark;
    }

    text-align: center;
    display: grid;
    gap: 0.4rem;
    grid-template-columns: 80px repeat(5, 1fr);
    padding: 1.25rem 1.25rem 1.25rem 2.188rem;

    .head-item {
      display: flex;
      align-items: center;

      .head-item__number {
        display: flex;
        flex-direction: column;
        font-size:  1.25rem;
        color: $blue-dark;
        font-weight: 900;
      }

      .head-item__text {
        text-align: left;
        padding: 0 0.5rem;
        line-height: 1.4;

        span {
          font-size: 0.875rem; 
          color: $blue-mid;
          word-break: break-all;
        }
      }
    }
  }
  
  &__items {

    .webform-type-radios {

      padding: 1.25rem 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 !important;

      &:nth-child(even) {
        background-color: $gray-1;
      }

      .question-title {
        padding-right: 40px;

        &, label {
          margin: 0;
          color: $blue-dark;
        }
        .counter {
          margin-right: 0.5rem;
        }  
      }

      .form-radios {
        display: flex;
        align-items: center;
        width: auto;

        .form-item {
          padding: 0;
          margin: 0;

          label {
            font-size: 20px;
            font-weight: 900 !important;
            padding-bottom: 2rem;
            line-height: 1;
          }

          input[type=radio]+label {
            &::before {
              left: 50%;
              transform: translateX(-50%);
              top: 28px;
            }
  
            &::after {
              left: 50%;
              transform: translateX(-50%);
              top: 34px !important;
            }
          }
        }
      }
    }
  }
}
