.gdmi-assessment-webform {
  background-color: $gray-1;
  border: 1px solid #CCC;
  margin-bottom: 4.5rem;
  margin-top: 4.5rem;
  padding: 1rem 2rem;

  .uds-field-required {
    display: none;
  }

  @include media-breakpoint-up(lg) {
    padding: 3.5rem 9.375rem;
  }

  .webform-submission-form {
    margin-bottom: 0;
  }
  
  // ITEMS CONTAINERS
  .form-wrapper {
    & > .form-group {
      position: relative;
      background-color: white;
      border: 1px solid #CCC;
      padding: 1rem 2rem;

      @include media-breakpoint-up(lg) {
        padding: 4.5rem 5.375rem;
      }

      &.js-form-type-gdmi-notice-message {
        background-color: $gold;
        border-color: $gold;
        color: $blue-dark;
        padding-top: 2rem;
        padding-bottom: 2rem;

        p {
          font-size: 22px;
        }
      }
    }
  }

  .form-group {
    .form-control,
    .form-select,
    .form-radios {
      width: 80%;
      margin: auto;
      display: block;
    }
  }

  // RADIOS
  .webform-type-radios {

    .form-radios label {
      font-size: 1.375rem;
      font-weight: 400 !important;
      color: $blue-dark;
    }

    input[type=radio] {
      
      &+label::before {
        top: 0.5rem;
      }

      &+label::after {
        top: 0.875rem !important;
      }

      &:checked+label:after {
        background-color: $blue-mid !important;
      }
    }
    
  }

  .description {
    padding: 4px 4px 4px 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    color: $blue-dark;
    position: absolute;
    top: 110px;
    left: 145px;
    background-color: $gold;
  }

  .js-webform-select-other-input {
    label {
      margin-left: 75px;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.25;
      color: #808080;
    }

    input {
      border-color: $gray-400;
    }
  }
  
  // TITLE
  .question-title,
  .webform-multiple-table > .form-group > label {

    &, 
    label {
      font-size: 1.375rem;
      font-weight: 400;
      line-height: 1.25;
      color: $blue-mid;
    }
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 3.125rem;

    .counter {
      font-size: 2.125rem;
      font-weight: 900;
      color: $blue-dark;
      display: inline-block;
      margin-right: 2.125rem;
    }
  }

  .webform-multiple-table .form-group:nth-child(1n + 2) {
    width: 80%;
    margin: auto;

    .form-control {
      width: 100%;
    }
  }

  // ACTIONS
  .form-actions {
    display: flex;
    justify-content: space-between;

    .webform-button--submit,
    .webform-button--next {
      display: inline-block;
      margin-left: auto;

      @include media-breakpoint-up(lg) {
        margin-right: -100px;
      }
    }

    .webform-button--submit,
    .webform-button--next,
    .webform-button--previous {
      font-size: 0.875rem;
      font-weight: 900;
      background-color: unset;
      border: none;
      text-transform: uppercase;

      span {
        margin: 0 0.625rem;
      }

      &:focus {
        background-color: unset;
        border: none !important;
        outline: none !important;
      }
    }

    .webform-button--submit {
      background-color: $blue-mid;
      border-radius: 1rem;
      padding: 0.5rem;
      color: white;
    }

    .webform-button--next {
      color: $blue-mid;
    }

    .webform-button--previous {
      color: $blue-dark;

      @include media-breakpoint-up(lg) {
        margin-left: -100px;
      }
    }

  }

  .js-form-type-processed-text {
    p {
      color: $blue-mid;
      font-size: 22px;
      line-height: 28px;
    }
  }
}

// PROGRESS BAR
.webform-progress {
  margin-bottom: 2.188rem;

  &__percentage {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  
    .webform-progress__fill-bar {
      background-color: $blue-mid;
      display: inline-block;
      height: 25px;
      margin-right: 0.625rem;
    }
  
    span {
      color: $blue-mid;
      font-size: 2.125rem;
      font-weight: 900;
      line-height: 1;
    }
  }
}
