.video-gallery {
    text-align: center;

    .h2, .h3, .h4 {
        margin-bottom: 2.25rem; // 36px
    }

    .row {
        .video-item {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 100%;
            
            .video {
                flex-grow: 0;

                .thumbnail {
                    img {
                        width: 100%;
                    }
                }
            }

            .metadata {
                flex-grow: 1;
            }
        }
    }

    &.two-columns {
        .field--item {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    &.three-columns {
        .field--item {
            flex: 0 0 33.3334%;
            max-width: 33.3334%;
        }
    }

    &.four-columns {
        .field--item {
            flex: 0 0 25%;
            max-width: 25%;
        }
    }

    .field--item {
        padding: 0px 15px; // Bootstrap default;

        @include media-breakpoint-down(md) {
            flex: 0 0 50% !important;
            max-width: 50% !important;
        }

        @include media-breakpoint-down(sm) {
            flex: 0 0 100% !important;
            max-width: 100% !important;
        }

        .video {
            display: block;
            position: relative;

            iframe {
                pointer-events: none;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }
        }

        .metadata {
            padding: 2rem;
            background-color: #f6f6f6;
            border: 1px solid #cccccc;
            margin-bottom: 2rem;
            text-align: left;

            .date {
                color: $blue-dark;
                font-size: $font-size-xs;
                line-height: $font-size-sm;
                margin-bottom: 0.5rem;
            }

            .title {
                color: $blue-mid;
                font-size: $font-size-md;
                line-height: 1.625rem;
            }
        }

        .load-more-btn,
        .btn {
            background-color: $blue-mid;
            color: #ffffff;

            svg {
                display: none;
            }
        }
    }
}

.modal-content {
    .media-oembed-content {
        width: 100%;
        height: 500px;
        max-height: 100%;
    }
}
