@import '../../sass/extends/buttons';

.btn {
  text-transform: unset !important;

  &.btn-primary {
    background: $blue-mid;

    &:hover {
      background: $blue-dark;
    }
  }

  &.btn-thun-icon {
    svg {
      margin-left: 5px;
    }
  }

  &.btn-gold:hover {
    cursor: pointer;
    background-color: $blue-dark;
    color: white !important;
  }
  
  &.btn-navy {
    background-color: $blue-dark;
    color: white !important;
  }
}

.readmore {
  font-size: $font-size-sm;
  color: $blue-mid;
  letter-spacing: -0.4px;
  line-height: 1;
  font-weight: $font-weight-bolder;
  text-decoration: none;
  padding: 0.3125rem 0;

  svg {
    color: $blue-dark;
    position: relative;
    top: 1px;
  }

  &:hover {
    color: $blue-dark;
  }
}

.uds-image-text-block-text-container {
  .btn {
    padding: 0.75rem 1.75rem;
    line-height: 1rem;
    font-size: 0.875rem;
  }
}

.apply-now-form {
  .btn-primary.btn-gold {
    background-color: $gold;

    &:hover {
      background-color: $blue-mid;
    }
  }
}

.btn-gray-8 {
  background-color: #808080;
}