{% if url is not empty %}
  {% set aria_label %}
    {% include 'themes/custom/thunderbird/src/components/buttons/button-label.twig' with {
      url: url,
      title: title,
      target: target
    } %}
  {% endset %}
  <a href="{{ url }}" {{ aria_label }} class="readmore" target="{{ target }}" role="link" />{{ title }} <i class="fas fa-arrow-right" aria-hidden="true"></i></a>
{% endif %}