<div class="container reports-page">
  <h1 class="reports-page__title">Reports</h1>
  {% include "@tb_gdmi/components/reports/build-report.html.twig" with { options: content.options}%}
  {% include "@tb_gdmi/components/reports/reports-list.html.twig" with { reports: content.reports}%}
</div>