<div class="container manage-groups">
  <div class="manage-groups__header d-flex justify-content-between align-items-center"> 
      <h1 class="m-0">{{ 'Manage Groups'|t }}</h1>
      <div><a href="{{ url('tb_gdmi.dashboard_purchasing') }}" class="btn btn-gold btn-sm btn-main-action">Purchase GDMI for another group<i class="fas fa-arrow-right ml-2"></i></a></div>
  </div>
  {{ children }}
</div>