<div class="gdmi-alert bg-gold">
    <div class="container">
        <span class="gdmi-alert__message">{{ message }}</span>
        <a class="gdmi-alert__btn btn text-white" href="{{ link.url }}">{{ link.text }}<i class="fas fa-arrow-right ml-2" aria-hidden="true"></i></a>
    </div>
</div>