.uds-anchor-menu {
  background-color: $blue-dark;
  z-index: 100;

  &-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
  }

  .nav {
    flex-direction: column;

    .nav-link {
      border-bottom: 5px solid transparent;
      color: white;
      font-size: $font-size-md;
      line-height: $font-size-md;
      font-weight: 900;
      position: relative;
      text-align: center;
      background-color: transparent;
      &.active,
      &:hover,
      &:focus {
        border-bottom: 5px solid $gold;
        color: $gold;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
      }
    }
  }
}

@mixin uds-anchor-menu-expanded {
  .uds-anchor-menu-wrapper {
    flex-direction: row;
  }

  h4 {
    margin: auto 0;
    font-size: 1.25rem;

    svg {
      display: none;
    }
  }

  nav {
    flex-direction: row;
  }

  .nav-link {
    padding: $uds-size-spacing-3 $uds-size-spacing-2 $uds-size-spacing-2
      $uds-size-spacing-2;

    &:hover,
    &.active {
      margin-bottom: 0;
    }
  }

  .card {
    border: 0;
    padding: 0;
  }

  .collapse {
    display: block;
    height: auto !important;
    visibility: visible;

    &:not(.show) {
      display: block;
    }
  }

  .collapsing {
    position: relative;
    height: unset !important;
    overflow: hidden;
  }
}

@include media-breakpoint-up(sm) {
  .uds-anchor-menu.uds-anchor-menu-expanded-sm {
    @include uds-anchor-menu-expanded;
  }
}

@include media-breakpoint-up(md) {
  .uds-anchor-menu.uds-anchor-menu-expanded-md {
    @include uds-anchor-menu-expanded;
  }
}

@include media-breakpoint-up(lg) {
  .uds-anchor-menu.uds-anchor-menu-expanded-lg {
    @include uds-anchor-menu-expanded;
  }
}

@include media-breakpoint-down(lg) {
  .uds-anchor-menu h4 {
    display: flex;
    justify-content: space-between;
  }
}

@include media-breakpoint-up(xl) {
  .uds-anchor-menu.uds-anchor-menu-expanded-xl {
    @include uds-anchor-menu-expanded;
  }
}

@include media-breakpoint-down(md) {
  .uds-anchor-menu {
    &.uds-anchor-menu-sticky {
      position: static; /* Remove sticky behavior on mobile */
    }

    .nav {
      padding: 1rem 0;

      a {
        padding: 0.5rem 0;
      }
    }
  }
}

@media screen and (max-width: 610px) {
  .uds-anchor-menu.scrolled-mobile {
    &.uds-anchor-menu-sticky {
      position: fixed;
      top: 80px !important;
    }

    .nav {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      gap: 1rem;

      a:not(.cta-apply):not(.cta-request) {
        display: none;
      }
    }
  }
}
