select {
  appearance: none; -webkit-appearance: none;
  background-image: url('/themes/custom/thunderbird/src/components/select/arrow-select.svg');
  background-size: 12px 12px;
  background-position: calc(100% - 12px) 50%;
  background-repeat: no-repeat;
  border-radius: 0rem;
  background-color: transparent;
  border: 1px solid $black;
  color: $black;
  font-size: 0.875rem; /* 14px */
  line-height: 0.875rem; /* 14px */
  min-width: 240px;
  padding: 8px 24px 8px 12px;

  &.white {
    border-color: #ffffff;
    color: #ffffff;
  }
}


/* Select2 Plugin Overrides. (Issues on Layout Builder) THUN-245 */

#drupal-off-canvas {
  textarea:not(.js-off-canvas-computed-ignore) {
    width: 100% !important; // We need !important to override select2 plugin defined width.
  }
  .select2-selection__rendered {
    .select2-selection__choice__remove {
      margin-top: 5px;
    }
    span.select2-selection__choice__display {
      margin-left: 20px;
    }
  }
}

.custom-select {
  background-image: url('/themes/custom/thunderbird/src/components/select/arrow-select-blue.svg');
  background-size: 12px 12px;
  background-position: calc(100% - 12px) 50%;

  &:disabled {
    background-image: url('/themes/custom/thunderbird/src/components/select/arrow-select-disabled.svg');
  }
}


.custom-select.gold-arrow {
  background-image: url('/themes/custom/thunderbird/src/components/select/arrow-select.svg');
}
