.views-block {
    .views-exposed-form.uds-form {
        display: flex;
        color: white;
        padding-top: 20px;
        background: $blue-mid;
        justify-content: center;

        #edit-tid--description, > .js-form-item .description {
            order: -1;
            color: white !important;
            font-weight: 900;
            font-size: 1rem;
            padding-top: 5px;
            padding-right: 10px;
            @media screen and (max-width: $uds-breakpoint-sm) {
                display: inline-block;
                width: 100%;
            }
        }
        @media screen and (max-width: $uds-breakpoint-sm) {
            flex-direction: column;
        }
        .form-group {
            display: flex;
            @media screen and (max-width: $uds-breakpoint-sm) {
                flex-wrap: wrap;
                margin: 0 10px;
            }
        }

        label {
            padding: 5px 15px 15px 15px;
            font-size: 18px;
            margin-bottom: 0;
        }
        .form-group {
            margin-bottom: 10px;
        }
        .custom-select {
            font-size: 1rem;
            padding-top: 0;
            padding-bottom: 0;
            height: 2.5em;
            @media screen and (min-width: $uds-breakpoint-sm) {
                width: 170px;
                min-width: 170px;
            }
        }
        select option {
            background: #ffffff; // Does not change Mac native styling 
        }
        h5 {
            padding-top: 12px;
            color: $white;
        }
        h3 {
            text-align: center;
            color: $gold;
        }
        input {
            border: #dfdfdf 1px solid;
            height: 2.5rem;
            margin: 0 20px;
            @media screen and (min-width: $uds-breakpoint-sm) {
                width: 170px;
            }
        }
        input::placeholder {
            color: #dfdfdf;
        }
    }

    .pager--load-more {
        text-align: center;

        .pager__item {
            list-style-type: none;
            margin: 30px auto 0 auto;
            a {
                color: $white;
                background-color: $blue-mid;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 700;
                text-align: center;
                vertical-align: middle;
                padding: $input-btn-padding-x-lg $input-btn-padding-x;
                font-size: $input-btn-font-size;
                &:focus {
                    box-shadow: unset !important;
                }
            }
            a:hover {
                color: $white;
                background-color: $blue-dark;
                border-color: $blue-dark;
            }
        }
    }

    &.newsroom-listing {
        .views-exposed-form.uds-form {
            .custom-select {
                @media screen and (min-width: $uds-breakpoint-sm) {
                    width: 250px;
                    min-width: 250px;
                }
            }
        }
    }
}

.no-results-text {
    p {
        margin-top: 2rem;
    }
}
