<div class="container">
  <div class="layout-right-sidebar">
    <div class="layout-right-sidebar__left">{{ content.first}}</div>
    <div class="layout-right-sidebar__right">{{ content.second }}</div>
  </div>
</div>