h1,
h2,
h3,
h4,
h5 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  text-align: $heading-text-align;
  opacity: $heading-opacity;
  margin: $heading-margin 0;
  line-height: 1;
}

// If there is a heading between two paragraphs,
// there needs to be more space above the heading than below it to ensure that content is chunked appropriately and remains legible.
// The following two selectors combined target heading elements surrounded by p elements
p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
  margin-top: $uds-size-spacing-4;
}

p:last-of-type + h1,
p:last-of-type + h2,
p:last-of-type + h3,
p:last-of-type + h4,
p:last-of-type + h5,
p:last-of-type + h6 {
  margin-top: $heading-margin;
}

.h2, h2, .h3, h3 {
  max-width: none;
}

h1, .h1 {
  font-size: $heading-one-font-size;
  letter-spacing: $heading-one-letter-spacing;

  &.article {
    font-size: $heading-one-article-font-size;
  }

  @include media-breakpoint-down(xs) {
    font-size: $heading-one-mobile-font-size;

    &.article {
      font-size: $heading-one-mobile-font-size;
    }
  }
}

h2, .h2 {
  font-size: $heading-two-font-size;
  letter-spacing: $heading-two-letter-spacing;

  @include media-breakpoint-down(xs) {
    font-size: $heading-two-mobile-font-size;
  }
}

h3, .h3 {
  font-size: $heading-three-font-size;
  letter-spacing: $heading-three-letter-spacing;
}

h4, .h4 {
  font-size: $heading-four-font-size;
  letter-spacing: $heading-four-letter-spacing;
}

h5, .h5 {
  font-size: $heading-five-font-size;
  letter-spacing: $heading-five-letter-spacing;
}

h6, .h6 {
  font-size: $heading-six-font-size;
  letter-spacing: $heading-six-letter-spacing;
}
