{#
/**
 * @file
 * Template for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
<div class="container manage-groups use-group-indicator">
  <h1 class="manage-groups__title">Scheduling</h1>
  <h3>Select Dates</h3>
  <p>Please select the dates on which you or your organization would like to start and complete the GDMI assessment.</p>
  <form{{ attributes.addClass('group-scheduling') }}>
  {{ children }}
  </form>
</div>
