{#
/**
 * @file
 * Template for a button component.
 *
 * Available config:
 * - type: primary | secondary | success | danger | warning | info | light | dark
 * - outline: true | false
 * - tag: button, a, input
 * - value: string
 * - attributes: Attributes array.
 */
#}
{% set type_btn = attributes.class.0 %}
<button{{ attributes }}>
  {% if type_btn == 'webform-button--previous' %}
    <img src="{{ file_url('themes/custom/thunderbird/assets/icons/webform/' ~ type_btn ~ '.svg') }}">
  {% endif %}
  <span>{{ attributes.value }}</span>
  {% if type_btn == 'webform-button--submit' or type_btn == 'webform-button--next' %}
    <img src="{{ file_url('themes/custom/thunderbird/assets/icons/webform/' ~ type_btn ~ '.svg') }}">
  {% endif %}
</button>



