{#
/**
 * @file
 * Default template for a field.
 */
#}
{{ attach_library('thunderbird/carousel-image-library') }}
{%
  set classes = [
    'carousel-image',
    'corners',
    'field',
    bundle|clean_class ~ '__' ~ field_name_clean|clean_class,
    field_name_clean|clean_class,
    label_display == 'inline' ? 'd-flex',
  ]
%}
{%
  set item_classes = [
    'slide',
    'field__item',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="slick">
    {% for item in items %}
      <div{{ item.attributes.addClass(item_classes) }}>{{ item.content }}</div>
    {% endfor %}
  </div>
</div>
