<ul>
    {% for item in items %}
        {% if item.content['#title']|length > 0 %}
            {# this is to check if they have a # to make it a non link #}
            {% if item.content['#url']|render|trim is empty %}
                <li>{{ item.content['#title'] }}</li>
            {% else %}
                <li><i class="fas fa-arrow-right"></i> {{ item.content}}</li>
            {% endif %}
        {% endif %}
    {% endfor %} 
</ul>

