{% for item in items %}
    {% if item.block_uuid %}
        <div {{ item.attributes.addClass('field__item') }}>
            {{ drupal_block('block_content:' ~ item.block_uuid) }}
        </div>
    {% else %}
        <div {{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
    {% endif %}
{% endfor %}