.thundershop {
    text-align: center;

    .h2 {
        margin-bottom: 1.5rem;
        text-align: center;
    }

    .h3 {
        margin-bottom: 1.5rem;
        text-align: center;
    }

    .body {
        margin-bottom: 2rem;
    }

    .product {
        border: 1px solid #cccccc;
        margin-bottom: 2rem;
        padding: 3.5rem 3.5rem 2rem;

        .image {
            img {
                max-width: 100%;
                margin-bottom: 1rem;
                height: auto;
            }
        }

        .title,
        .price {
            color: $blue-mid;
            display: inline;
            font-size: $h5-font-size;
            font-weight: 900 !important; // Override <strong>
            line-height: 1.625rem; // 26px
            margin: 0rem;
        }

        .price {
            color: $blue-dark;
        }
    }
}