{{ attach_library('renovation/tabbed-panels') }}
{% set classes = [
    'block-tabs-horizontal',
    'tabs',
    'horizontal',
    'block', 
    'block-' ~ configuration.provider|clean_class, 
    'block-' ~ plugin_id|clean_class
  ]
%}
<div {{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {{ title_suffix }}
    <div>
        {% include '@renovation/tabs/tabs-horizontal.twig' with {
                tabs:content.field_tabs['#items'],
                contentfieldtabs: content.field_tabs,
            }
        %}
    </div>
</div>