{% set classes = [ 
  'insights',  
  'block', 
  'block-' ~ configuration.provider|clean_class, 
  'block-' ~ plugin_id|clean_class
  ] %}
<div {{ attributes.addClass(classes) }}>
    <!--TODO: Replace insights content -->
    PLACEHOLDER FOR INSIGHTS
    {{ content }}    
 </div>