{#
/**
 * @file
 * Template for a Signposts with Icons block.
 */
#}
{% set classes = ([
  'container',
  'signpost',
  'signpost-with-icon'
])
%}
{% extends 'block.html.twig' %}

{% block content %}
  <div class="row">
    {{ content|without('field_anchor_menu_settings') }}    
  </div>
{% endblock %}
