{% set classes = [ 
    'signpost',  
    'block', 
    'block-' ~ configuration.provider|clean_class, 
    'block-' ~ plugin_id|clean_class,
    'signpost-with-links'
  ]
%}
<div {{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="container signposts-container">
    <div class="row">       
      {{ content }}          
    </div>
  </div>
</div>