{% set classes = [
    'image-gallery',
    'container'
  ]
%}
{% extends 'block.html.twig' %}

{% block content %}
  {{ attach_library('thunderbird/image-gallery-slick-library') }}
  <div class="slick image-gallery-preview">
    {{ gallery_imgs }}
  </div>
  <div class="slick image-gallery-caption">
    {{ captions }}
  </div>
  <div class="slick image-gallery-thumbnails">
    {{ thumbnails }}
  </div>
{% endblock %}
