{#
/**
 * @file
 * Template for an Apply Now block.
 */
#}
{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'block-inline-blockcard-and-image'
] %}
{% set class_position = content.field_content_position[0]['#markup'] == 'right' ? 'uds-card-and-image-right' %}

{% set heading = content.field_heading|render|striptags|trim %}

{% set card_content %}
  <div class="card">
    {% if heading is not empty %}
      <div class="card-header">
        <h3 class="card-title">{{ heading }}</h3>
      </div>
    {% endif %}
    <div class="card-body">
      {{ apply_now_form }}
    </div>
  </div>
{% endset %}

{% extends 'block.html.twig' %}

{% block content %}
  {% include '@renovation/cards/card-and-image.twig' with {
    card: card_content,
  } %}
{% endblock %}

