{% set classes = [ 
    'rankings',  
    'block', 
    'block-' ~ configuration.provider|clean_class, 
    'block-' ~ plugin_id|clean_class
  ]
%}
{% extends 'block.html.twig' %}
{% block content %} 
  <div class="container">
    <div class="rankings-wrapper">
      <div class="row">
        {{ content.field_ranking }}
      </div>
      <div class="col-sm-12 rankings-cta">
        {% include 'themes/custom/thunderbird/src/components/buttons/button-readmore.twig' with { url : content.field_rank_cta['0']['#url'], title: content.field_rank_cta['0']['#title']} %}
      </div>
    </div>
  </div>
{% endblock %} 