<div id="uds-anchor-menu" class="uds-anchor-menu uds-anchor-menu-expanded-lg">
  <div class="container">
    <div class="uds-anchor-menu-wrapper">
      {# This nav data is populated by JS: /web/modules/composer/webspark-module-webspark_blocks/js/anchor-menu.js #}
      <nav class="nav" aria-label="Same Page"></nav>
    </div>
  </div>
</div>