.column-text {
    padding-top: $component-padding;
    padding-bottom: $component-padding;

    .container {
        > h2 {
            margin-bottom: 2rem;
        }

        > h3 {
            margin-bottom: 1rem;
        }
    }

    .headline {
        color: $blue-mid;

        &:first-letter { color: inherit; }
    }

    .subhead {
        color: $blue-dark;
        font-size: 1.375rem; /* 22px */
        line-height: 1.375rem; /* 22px */
        padding-bottom: 10px;
        display: block;
    }

    .row {
        .column {
            h3 {
                color: $blue-dark;
                width: 100%;
            }
    
            p {
                margin-bottom: 1.25rem; /* 20px */
                max-width: 100%;
                width: 100%;
            }
    
            .btn {
                color: $blue-mid;
                font-size: 1rem; /* 16px */
                margin-top: auto; /* This rule moves btn to bottom for multi-columns */
                padding: 0.5rem 1rem;
                
                svg {
                    path {
                        fill: $blue-dark;
                    }
                }                
            }

            .cta {
                background-color: $blue-mid;
                color: $white;
            }
        }
    }
    &.grey-bg {
        background: $gray-lightest;
    }
}