.stats {
  padding: $component-padding 5rem $component-padding; // Give padding for arrows
  background: $gray-1;

  .carousel {
    .slide {
      box-shadow: none !important;
      text-align: center;
      position: relative;

      .headline {
        color: $blue-dark;
        font-size: 3.75rem;
        line-height: 3.75rem;

        @include media-breakpoint-down(sm) {
          font-size: $h3-font-size;
          line-height: $h3-font-size;
        }

        &.smaller {
          @include media-breakpoint-up(md) {
            font-size: 2.5rem;
            line-height: 2.5rem;
          }
        }
      }

      h3 {
        font-size: 1.375rem;
        margin: 0.625rem 0 0 0;
      }

      a {
        text-decoration: none;
      }

      .btn {
        color: $blue-mid;
        font-size: 0.75rem;

        svg {
          display: none;
        }
      }
    }

    .slick-arrow {
      align-items: center;
      border: 1px solid $blue-mid;
      border-radius: 999px;
      display: flex;
      height: 50px;
      justify-content: center;
      width: 50px;

      &:before {
        height: 24px;
        opacity: 1;
        width: 24px;
      }
            
      &:focus {
        box-shadow: none !important;
        border-width: 4px;
      }

      &.slick-prev {
        left: -4rem;

        &:before {
          content: url('/themes/custom/thunderbird/assets/icons/arrow-left.svg');
        }
      }

      &.slick-next {
        right: -4rem;

        &:before {
          content: url('/themes/custom/thunderbird/assets/icons/arrow-right.svg');
        }
      }

      &.slick-disabled {
        opacity: 0.25;
        border-width: 1px !important;

        &:before {
          opacity: 1; /* Reset default slick theme */
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .stats {
    padding: 3rem 1rem;

    .carousel {
      .slick-arrow {
        display: none !important;
      }
    }

    .slick-track {
      width: 100% !important;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .slick-slide {
      display: block !important;
      position: initial !important;
      left: 0 !important;
      right: 0;
      top: 0 !important;
      opacity: 1 !important;
      float: none;
      margin: 0 auto 40px;
      width: 50% !important;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

[dir=rtl] {
  .stats {
    @include media-breakpoint-down(md) {
      direction: ltr;

      .slick-slide {
        float: left;
      }

      .slick-prev {
        right: auto;
      }

      .slick-next {
        left: auto;
      }
    }
  }
}
